<div id="list-product" class="bg-light">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-3 d-none d-md-block"
                    *ngIf="categories.length > 1 || origin.data.length > 0 || brand.data.length > 0">
                    <div class="card rounded-0 border-0 mb-3">
                        <ul class="pl-0 mb-0">
                            <li class="d-none" *ngFor="let item of categories ; let i = index"
                                [ngStyle]="{'border-bottom': i < categories.length - 1 ? '1px solid #dee2e6' : ''}"
                                [ngClass]="{'d-block':  data.id == item.id || data.parent_id == 0}">
                                <div class="title p-3" [ngClass]="{'active': collapsedMenu.includes(item.id) == false }"
                                    (click)="collapseMenu(item.id)" aria-controls="item.link"
                                    [ngClass]="{'d-none':  data.id == item.id}">
                                    <div class="flex-between-center">
                                        <div class="text-left">{{ item.name }}</div>
                                        <i class="fas"
                                            [ngClass]="{'fa-chevron-right': collapsedMenu.includes(item.id) == true ,'fa-chevron-down': collapsedMenu.includes(item.id) == false}"></i>
                                    </div>
                                </div>
                                <ul class="pl-2" id="item.link" [collapse]="collapsedMenu.includes(item.id) == true"
                                    *ngIf="item.list || item.list.length > 0" [isAnimated]="true">
                                    <li class="p-2" *ngFor="let rows of item.list"
                                        [ngClass]="{'d-none': (data.id != rows.id) &&  data.parent_id == item.id}">
                                        <div class="flex-between-center" (click)="groupCategory.filter(rows.id)">
                                            <div class="item-title">
                                                {{rows.name}}
                                            </div>
                                            <input name='group' [checked]="groupCategory.value.includes(rows.id)"
                                                type="checkbox" id="group-{{rows.id}}">
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="card rounded-0 border-0 mb-3" *ngIf="brand.data && brand.data.length > 0">
                        <ul class="pl-0 mb-0">
                            <li>
                                <div class="title px-3 py-2 flex-between-center"
                                    [ngClass]="{'active': collapsedMenu.includes('brands') == false}"
                                    (click)="collapseMenu('brands')">
                                    <div>{{'FEProduct.brand' | translate}}</div>
                                    <i class="fas"
                                        [ngClass]="{'fa-chevron-right': collapsedMenu.includes('brands') == true ,'fa-chevron-down': collapsedMenu.includes('brands') == false}"></i>
                                </div>
                                <ul class="pl-4" [collapse]="collapsedMenu.includes('brands') == true"
                                    [isAnimated]="true">
                                    <li class="px-3 pb-3" *ngFor="let item of brand.data;" style="overflow:hidden">
                                        <div class=" flex-between-center" (click)="brand.filterBrand(item.id)">
                                            <div class="item-title">
                                                {{item.name}}
                                            </div>
                                            <input name='brand' [checked]="brand.value.includes(item.id)"
                                                type="checkbox" id="group-{{item.id}}">
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="card rounded-0 border-0 mb-3" *ngIf="origin.data && origin.data.length > 0">
                        <ul class="pl-0 mb-0">
                            <li>
                                <div class="title px-3 py-2 flex-between-center"
                                    [ngClass]="{'active': collapsedMenu.includes('origin') == false}"
                                    (click)="collapseMenu('origin')">
                                    <div>{{'FEProduct.origin' | translate}}</div>
                                    <i class="fas"
                                        [ngClass]="{'fa-chevron-right': collapsedMenu.includes('origin') == true ,'fa-chevron-down': collapsedMenu.includes('origin') == false}"></i>
                                </div>
                                <ul class="pl-3" [collapse]="collapsedMenu.includes('origin') == true"
                                    [isAnimated]="true">
                                    <li class="px-3 pb-3" *ngFor="let item of origin.data;" style="overflow:hidden">
                                        <div class=" flex-between-center" (click)="origin.filterOrigin(item.id)">
                                            <div class="item-title">
                                                {{item.name}}
                                            </div>
                                            <input name='origin' [checked]="origin.value.includes(item.id)"
                                                type="checkbox" id="group-{{item.id}}">
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="card rounded-0 border-0 mb-3" *ngIf="price.max > 0">
                        <ul class="pl-0 mb-0">
                            <li>
                                <div class="title px-3 py-2 flex-between-center"
                                    [ngClass]="{'active': collapsedMenu.includes('price') == false}"
                                    (click)="collapseMenu('price')">
                                    <div>{{'FEProduct.price' | translate}}</div>

                                </div>
                                <div class="card-body p-2">
                                    <ng5-slider (userChangeEnd)="onUserChangeEnd($event)" [(value)]="minValue"
                                        [(highValue)]="maxValue" [options]="options"></ng5-slider>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 pb-4"
                    [ngClass]="{'col-md-9': categories.length > 0 || origin.data.length > 0 || brand.data.length > 0 }">
                    <div class="row mb-3 bg-white p-md-0">
                        <div class="col-md-4 flex-between-center">
                            <div style="color: #595959">
                                {{cwstable.settings.total > 0 ? cwstable.settings.total : 0 }}
                                {{'FEProduct.product' | translate}}
                            </div>
                            <div class=" d-md-none d-flex align-items-center" style="color: #595959">
                                {{'FEProduct.filterTitle' | translate }}
                                <i class="action-icon fas fa-list-alt ml-2" style="line-height: 30px;"
                                    (click)="setMenuMobile(true)" style=" font-size: 1.3rem;line-height: 30px;"></i>
                            </div>
                        </div>
                        <div class="col-md-8 d-flex justify-content-md-end">
                            <div class="flex-between-center w-100">
                                <div *ngFor="let col of cwstable.cols; let i = index" class="mr-3">
                                    <span class="mr-2 d-block d-md-inline">{{ col.title | translate}}</span>
                                    <button (click)="cwstable._sorting(col.field, 'desc')"
                                        class="btn btn-sm rounded-0 mr-2 my-2">
                                        <i class="fas fa-sort-amount-down"></i>
                                    </button>
                                    <button (click)="cwstable._sorting(col.field, 'asc')" class="btn btn-sm rounded-0">
                                        <i class="fas fa-sort-amount-up"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="ListData" class="row" *ngIf="show == 1">
                        <div class="col-lg-3 col-md-4 col-6 p-0" style="border: 2px solid #f8f9fa;"
                            *ngFor="let item of cwstable.data">
                            <app-box-product [item]="item"> </app-box-product>
                        </div>
                        <div class="col-12 text-center pt-4 pb-4" *ngIf="!cwstable.data || cwstable.data.length == 0">
                            <div class="h4">{{'FEProduct.NotHaveProduct' | translate }}</div>
                        </div>
                        <div *ngIf="show == -1">
                            <div class="position-relative flex-center pt-lg-5 pt-4 pb-lg-5 pb-4">
                                <img src="../../../../assets/img/loading.gif" width="125px" height="100%" alt="HomeQ">
                                <img class="position-absolute logo-load" style="opacity: 0.5;"
                                    src="../../../../assets/img/logo.png" width="60" alt="HomeQ">
                            </div>
                        </div>
                        <div class="col-12 pt-4" *ngIf="cwstable.cached.length > Pagination.itemsPerPage">
                            <pagination class="d-flex justify-content-end" [totalItems]="cwstable.cached.length"
                                [itemsPerPage]="Pagination.itemsPerPage" [maxSize]="Pagination.maxSize"
                                (pageChanged)="Pagination.change($event)" [rotate]="false"
                                [previousText]="'FEbtn.previous' | translate" [nextText]="'FEbtn.next' | translate">
                            </pagination>
                        </div>
                    </div>
                    <div class="row" *ngIf="show == 0">
                        <div class="col-12 text-center pt-4 pb-4">
                            <div class="h4">{{'FEProduct.NotHaveProduct' | translate }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="openMobileFilter;then FilterMobile"></div>

<ng-template #FilterMobile>
    <div id="mobile-filter" class=" position-fixed">
        <div class="bg position-absolute w-100 h-100" (click)="setMenuMobile(false)"></div>
        <div class="content h-100 w-75" style="background-color: whitesmoke;">
            <div class="card rounded-0 border-0 mb-3">
                <ul class="pl-0 mb-0">
                    <li *ngFor="let item of categories; index as i"
                        [ngStyle]="{'border-bottom': i < categories.length - 1 ? '1px solid #dee2e6' : ''}">
                        <div class="title py-3 pl-3 pr-2"
                            [ngClass]="{ 'active': collapsedMenu.includes(item.id) == false }"
                            (click)="collapseMenu(item.id)" [attr.aria-controls]="item.link">
                            <div class="flex-between-center">
                                <div class="text-left">{{ item.name }}</div>
                                <i class="fas"
                                    [ngClass]="{ 'fa-chevron-right': collapsedMenu.includes(item.id) == false,'fa-chevron-down': collapsedMenu.includes(item.id) == true }"></i>
                            </div>
                        </div>
                        <ul class="pl-2" [id]="item.link" [collapse]=""
                            [ngClass]="collapsedMenu.includes(item.id) == true ? 'd-block' : 'd-none'"
                            *ngIf="item.list || item.list.length > 0" [isAnimated]="true">
                            <li class="p-2" *ngFor="let rows of item.list"
                                [ngClass]="{'d-none': (data.id != rows.id) && data.parent_id == item.id}">
                                <div class="flex-between-center" (click)="groupCategory.filter(rows.id)">
                                    <div class="item-title">
                                        {{ rows.name }}
                                    </div>
                                    <input name="group" [checked]="groupCategory.value.includes(rows.id)"
                                        type="checkbox" id="group-{{rows.id}}">
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="card rounded-0 border-0 mb-3" *ngIf="brand.data && brand.data.length > 0">
                <ul class="pl-0 mb-0">
                    <li>
                        <div class="title pl-3 pr-2 py-2 flex-between-center"
                            [ngClass]="{'active': collapsedMenu.includes('brands') == false}"
                            (click)="collapseMenu('brands')">
                            <div>{{ 'FEProduct.brand' | translate }}</div>
                            <i class="fas"
                                [ngClass]="{ 'fa-chevron-right': collapsedMenu.includes('brands') == false,'fa-chevron-down': collapsedMenu.includes('brands') == true }"></i>
                        </div>
                        <ul class="pl-4" [ngClass]="collapsedMenu.includes('brands') == true ? 'd-block' : 'd-none'"
                            [isAnimated]="true">
                            <li class="px-3 pb-3" *ngFor="let item of brand.data;" style="overflow:hidden">
                                <div class=" flex-between-center" (click)="brand.filterBrand(item.id)">
                                    <div class="item-title">
                                        {{item.name}}
                                    </div>
                                    <input name='brand' [checked]="brand.value.includes(item.id)" type="checkbox"
                                        id="group-{{item.id}}">
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="card rounded-0 border-0 mb-3" *ngIf="origin.data && origin.data.length > 0">
                <ul class="pl-0 mb-0">
                    <li>
                        <div class="title pl-3 pr-2 py-2 flex-between-center"
                            [ngClass]="{'active': collapsedMenu.includes('origin') == false}"
                            (click)="collapseMenu('origin')">
                            <div>{{ 'FEProduct.origin' | translate }}</div>
                            <i class="fas"
                                [ngClass]="{ 'fa-chevron-right': collapsedMenu.includes('origin') == false,'fa-chevron-down': collapsedMenu.includes('origin') == true }"></i>
                        </div>
                        <ul class="pl-3" [ngClass]="collapsedMenu.includes('origin') == true ? 'd-block' : 'd-none'"
                            [isAnimated]="true">
                            <li class="px-3 pb-3" *ngFor="let item of origin.data;" style="overflow:hidden">
                                <div class=" flex-between-center" (click)="origin.filterOrigin(item.id)">
                                    <div class="item-title">
                                        {{item.name}}
                                    </div>
                                    <input name='origin' [checked]="origin.value.includes(item.id)" type="checkbox"
                                        id="group-{{item.id}}">
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="card rounded-0 border-0 mb-5" *ngIf="price.max > 0">
                <ul class="pl-0">
                    <li>
                        <div class="title px-3 py-2 flex-between-center"
                            [ngClass]="{'active': collapsedMenu.includes('price') == false}"
                            (click)="collapseMenu('price')">
                            <div>{{'FEProduct.price' | translate}}</div>

                        </div>
                        <div class="card-body p-2">
                            <ng5-slider (userChangeEnd)="onUserChangeEnd($event)" [(value)]="minValue"
                                [(highValue)]="maxValue" [options]="options"></ng5-slider>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</ng-template>