@import "src/style/mixins";

.form-control {
    :read-only,
    :disabled {
        background-color: #c2cfd638;
        opacity: 1;
        border: none;
    }

    :focus {
        box-shadow: none;
    }
}

textarea.form-control {
    height: 50px;
    @include viewport-sm {
        height: 80px;
    }
}
