<form [formGroup]="fm"
      *ngIf="fm"
      (submit)='onSubmit()'>
    <h4 class="mb-3">{{ 'FECustomer.title' | translate }}</h4>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-12 pr-md-0">
            <div class="form-group">
                <label>
                    {{ 'FECustomer.name' | translate }}
                </label>
                <input type="text"
                       class="form-control"
                       name="name"
                       formControlName="name"
                       placeholder="{{ 'FECustomer.name' | translate }}">
                <small *ngIf="!fm.get('name').valid && fm.get('name').touched"
                       style="color:red">{{'message.required'
                    | translate}}</small>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-12 pr-md-0">
            <div class="form-group">
                <label>{{ 'FECustomer.email' | translate }}

                </label>
                <input readonly
                       type="email"
                       class="form-control"
                       name="email"
                       formControlName="email"
                       placeholder="{{ 'FECustomer.email' | translate }}">
                <small *ngIf="!fm.get('email').valid && fm.get('email').touched"
                       style="color:red">{{'message.email'
                    | translate}}</small>
            </div>

        </div>
        <div class="col-lg-4 col-md-4 col-12">
            <div class="form-group">
                <label>{{ 'FECustomer.phone' | translate }}</label>
                <input type="text"
                       class="form-control"
                       name="phone"
                       formControlName="phone"
                       placeholder="{{ 'FECustomer.phone' | translate }}">
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="mr-3">{{ 'FECustomer.gender' | translate }}</label>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio"
                   id="male"
                   name="sex"
                   class="custom-control-input"
                   formControlName="sex"
                   [value]="1">
            <label class="custom-control-label"
                   for="male">{{'FECustomer.male' |
                translate }}</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
            <input type="radio"
                   id="female"
                   name="sex"
                   class="custom-control-input"
                   formControlName="sex"
                   [value]="0">
            <label class="custom-control-label"
                   for="female">{{'FECustomer.female' | translate }}</label>
        </div>
    </div>
    <div class="form-group">
        <label>{{ 'FECustomer.address' | translate }}</label>
        <textarea class="form-control"
                  formControlName="address"
                  name="address"
                  id="address"
                  placeholder="{{'FECustomer.address' | translate }}"></textarea>
    </div>
    <div class=" text-right">
        <button type="submit"
                [disabled]="!fm.valid"
                class="btn btn-success">
            {{'FEbtn.edit' | translate }}
        </button>
    </div>
</form>