<app-header></app-header>

<main class="app-main">
    <router-outlet></router-outlet>
</main>

<app-footer></app-footer>

<div class="d-none d-md-block">
    <div class="scroll-top position-fixed rounded-circle text-center h4">
        <i class="fas fa-chevron-up"></i>
    </div>
</div>

<div class="cursor-pointer position-fixed rounded-circle social socialFixedChat text-center text-white shadow"
    (click)="_handleFixedChat()">
    <div class="position-relative">
        <i [ngClass]="chatStatus ? 'social--translate fas fa-times' : 'fal fa-comment-dots'"></i>
        <div *ngIf="chatStatus" class="d-flex flex-column align-items-center" [ngClass]="chatStatus ? 'visible' : 'invisible'">
            <div class="align-items-center d-flex justify-content-center social__item"
                [ngClass]="chatStatus ? 'social__item--active' : ''">
                <span class="small text-nowrap mr-2">Chat Zalo</span>
                <a class=" text-center rounded-circle" *ngIf="('FEHrefZalo' | translate)!='FEHrefZalo'" target="_blank"
                    rel="noopener" [href]="('FEHrefZalo' | translate)"
                    [ngClass]="chatStatus ? 'social__item--active' : ''">
                    <img src="../../../../assets/img/zalo.png" class="mb-1" width="100%" height="100%" alt="Zalo">
                </a>
            </div>
            <div class="align-items-center d-flex justify-content-center social__item"
                [ngClass]="chatStatus ? 'social__item--active' : ''">
                <span class="small text-nowrap mr-2">Gọi ngay</span>
                <a class="social__item-phone text-center rounded-circle" *ngIf="('FEPhone' | translate)!='FEPhone'"
                    rel="noopener" [href]="'tel:'+('FEPhone' | translate)"
                    [ngClass]="chatStatus ? 'social__item--active' : ''">
                    <i class="fas fa-phone"></i>
                </a>
            </div>
            <div class="align-items-center d-flex justify-content-center social__item"
                [ngClass]="chatStatus ? 'social__item--active' : ''">
                <span class="small text-nowrap mr-2">Chat Facbook</span>
                <a class="social__item-fb" *ngIf="('FEHrefFacebook' | translate) != 'FEHrefFacebook'" target="_blank"
                    rel="noopener" [href]="'FEHrefFacebook' | translate">
                    <i class="fab fa-facebook-f"></i>
                </a>
            </div>
            <div class="align-items-center d-flex justify-content-center social__item"
                [ngClass]="chatStatus ? 'social__item--active' : ''">
                <span class=" text-nowrap mr-2">Gửi liên hệ</span>
                <a rel="noopener" [routerLink]="['/lien-he']">
                    <i class="fas fa-paper-plane"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<div *ngIf="chatStatus" class="bg-modal"></div>