<div class="page-cart bg-light py-4 py-md-5">
    <div class="container-main" *ngIf="cart.amount() && cart.amount() >0">
        <div class="container-fluid" *ngIf="!payment.skip">
            <div class="row">
                <div class="col-md-12">
                    <div class="h4 text-uppercase font-weight-bold pt-3">
                        {{ 'FECart.cart' | translate}}
                        <span class="font-weight-normal text-lowercase" style="font-size: 15px;">
                            ( {{ cart.amount() }} {{ 'FECart.product' | translate}} )
                        </span>
                    </div>
                </div>
                <div class="col-md-8 pr-md-0">
                    <div class="order bg-white mt-3 p-3" *ngFor="let item of order.data; let i = index">
                        <div class="d-flex flex-nowrap">
                            <div class="order-images mr-3">
                                <a [routerLink]="[ '/'+item.path ]">
                                    <img class="images" [defaultImage]="'../../../assets/img/default.jpg'"
                                        [lazyLoad]="item.images" [alt]="item.name" width="100%" height="100%"
                                        style="object-fit: contain;" />
                                </a>
                            </div>
                            <div class="content d-md-flex justify-content-between flex-nowrap">
                                <div class="description">
                                    <a class="nav-link p-0 name text-dark mb-2 d-inline-block"
                                        [routerLink]="[ '/'+item.path ]">
                                        {{item.name}}
                                    </a>
                                    <div *ngIf="item.attribute && item.attribute.length > 0">
                                        <span class="small mr-3" *ngFor="let attribute of item.attribute">
                                            {{attribute.parent_name}}: {{ attribute.name }}</span>
                                    </div>
                                    <div class="d-none d-md-block mt-2">
                                        <span class="text-danger font-weight-bold cursor-pointer"
                                            (click)="order.removeItem(item.id)">
                                            <span>{{'FEbtn.remove' | translate}}</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="detail align-items-baseline d-flex  flex-nowrap justify-content-between">
                                    <div class="price d-inline-block font-weight-bold mr-md-4 mr-3">
                                        {{ (+item.price).toLocaleString('vi') }}đ
                                    </div>
                                    <div class="amount group-input position-relative">
                                        <button
                                            (click)="item.amount = (item.amount <=1) ? 1 : item.amount - 1; order.addCart(item.amount,item.id)">-</button>
                                        <input type="number" min="1" class="input pr-3" readonly
                                            [(ngModel)]="item.amount" (focusout)="order.changeAmount(item.amount, i)">
                                        <button class="position-absolute"
                                            (click)="item.amount = +item.amount + 1; order.addCart(item.amount,item.id)">+</button>
                                    </div>
                                </div>

                                <span class="text-danger font-weight-bold d-block d-md-none m-0 cursor-pointer"
                                    (click)="order.removeItem(item.id)">
                                    <span>{{'FEbtn.remove' | translate}}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mt-3 cart-address" *ngIf="fm.valid">
                        <div class="card-body p-2 bg-white">
                            <div class="d-flex justify-content-between">
                                <span> Địa chỉ nhận hàng </span>
                                <button class="btn btn-link text-dark p-0" (click)="payment.onStep(2)">
                                    {{ 'FEbtn.change' | translate}}</button>
                            </div>
                            <div class="mt-2">
                                <span class="font-weight-bold">
                                    {{ fm.value.name }}
                                    <small class="text-black-50 mx-2">|</small>
                                    {{ fm.value.phone }}
                                </span>
                                <br />
                                <span>{{ fm.value.address }} </span>
                            </div>
                        </div>
                    </div>
                    <div class="mt-3 cart-total">
                        <div class="card-body  bg-white">
                            <div class="d-flex  flex-nowrap justify-content-between">
                                <span>{{'FECart.provisional' | translate}}</span>
                                <span class="font-weight-bold">
                                    {{ (+cart.total()).toLocaleString('vi') }}đ
                                </span>
                            </div>
                            <hr />
                            <div class="d-flex  flex-nowrap justify-content-between align-items-baseline">
                                <span>{{'FECart.intoPrice' | translate}}</span>
                                <span class="font-weight-bold value-final">
                                    {{ (+cart.total()).toLocaleString('vi') }}đ
                                </span>
                            </div>
                        </div>
                        <div class="mt-3">
                            <button class="btn btn-danger d-none d-md-block text-white w-100"
                                (click)="payment.check(true)">
                                {{ 'FEbtn.payment' | translate}}
                            </button>
                            <button class="btn btn-danger d-block d-md-none text-white w-100"
                                (click)="payment.check(false)">
                                {{ 'FEbtn.payment' | translate}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid" *ngIf="payment.skip">
            <div class="step-cart d-flex justify-content-between position-relative m-auto">
                <div class="step-cart__item text-center position-relative w-25">
                    <span class="text-nowrap d-block text-truncate">Đăng nhập</span>
                    <div class="step-cart-icon m-auto bg-primary rounded-circle text-white">1</div>
                </div>
                <div class="step-cart-line-left bg-primary"></div>
                <div class="step-cart__item text-center position-relative w-25">
                    <span class="text-nowrap d-block text-truncate">Địa chỉ giao hàng </span>
                    <div class="step-cart-icon m-auto  rounded-circle text-white"
                        [ngClass]="step > 1 && step <= 3 ? 'bg-primary text-white' : 'bg-white text-dark border-primary'">
                        2</div>
                </div>
                <div class="step-cart-line-right bg-primary"></div>
                <div class="step-cart__item text-center position-relative w-25">
                    <span class="text-nowrap d-block text-truncate">Thanh toán & Đặt mua</span>
                    <div class="step-cart-icon m-auto bg-primary rounded-circle "
                        [ngClass]="step == 3 ? 'bg-primary text-white' :'bg-white text-dark border-primary'">3</div>
                </div>
            </div>
            <div class="row pt-4">
                <div class="col-12 col-md-8 pr-md-0">
                    <div class="pb-4" *ngIf="step == 2">
                        <div class="h4 text-danger">{{ 'FECart.infoReceiver' | translate }}</div>
                        <div class="card-body bg-white mt-4">
                            <form [formGroup]="fm" *ngIf="fm">
                                <div class="form-group">
                                    <label>{{'FECart.name' | translate }} </label>
                                    <input type="tel" class="form-control" autocomplete="off" formControlName="name"
                                        name="name">
                                </div>
                                <div class="form-group">
                                    <label>{{ 'lblPhone' | translate }}:</label>
                                    <input type="tel" class="form-control" autocomplete="off" formControlName="phone"
                                        name="phone" id="phone">
                                    <small class="text-danger"
                                        *ngIf="fm.get('phone').invalid && fm.get('phone').touched">
                                        {{ 'message.phone' | translate}}</small>
                                </div>
                                <div class="form-group">
                                    <label>{{ 'FECart.address' | translate }}:</label>
                                    <textarea class="form-control" formControlName="address" name="address"></textarea>
                                    <small class="d-inline text-danger"
                                        *ngIf="fm.get('address').invalid && fm.get('address').touched">
                                        {{ 'message.required' | translate}}</small>
                                </div>
                                <div class="form-group">
                                    <label>{{ 'lblNote' | translate }}:</label>
                                    <textarea class="form-control" formControlName="note" name="note"></textarea>
                                </div>
                            </form>

                            <div *ngIf="alert.skip == true && !fm.valid">
                                <div class="alert alert-danger" role="alert">
                                    {{ alert.message }}
                                </div>
                            </div>
                            <button type="button" (click)="payment.onStep(3)" class="btn btn-danger"
                                [disabled]="!fm.valid">
                                {{'FECart.confirm' | translate}}</button>
                        </div>
                    </div>
                    <div class="pb-4" *ngIf="step == 3">
                        <div class="pb-4">
                            <div class="h4 text-danger">{{ 'FECart.payment' | translate }}</div>
                            <div class="box-payment bg-white p-3 mt-3">
                                <div *ngFor="let item of payment.data">
                                    <div class="radio">
                                        <input id="item.name" name="paymentMethod" type="radio" class="input-radio"
                                            data-bind="paymentMethod" [value]="item.id" [checked]="true">
                                    </div>
                                    <label class="radio-label">
                                        <span>{{item.name | translate}}</span>
                                        <img class="float-right" [defaultImage]="'../../../assets/img/default.jpg'"
                                            [lazyLoad]="item.images" width="20" height="100%" [alt]="item.name">
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="pb-4">
                            <div class="d-flex justify-content-between">
                                <div class="h4 text-danger">{{ 'FECart.infoReceiver' | translate }}</div>
                                <button class="btn btn-link text-dark p-0" (click)="payment.onStep(2)">
                                    <a href="javascript:;">{{ 'FEbtn.change' | translate}}</a></button>
                            </div>
                            <div class="card-body bg-white mt-4">
                                <p class="font-weight-bold"></p>
                                <p class="card-text">
                                    <span class="font-weight-bold mr-1">{{'FECart.name'|
                                        translate}}:</span>{{datacart.name}}
                                </p>
                                <p class="card-text">
                                    <span class="font-weight-bold">{{'lblPhone'| translate}}:</span>
                                    {{ datacart.phone}}
                                </p>
                                <p class="card-text">
                                    <span class="font-weight-bold">{{'lblAddress'| translate}}:</span>
                                    {{ datacart.address }}
                                </p>
                                <p class="card-text">
                                    <span class="font-weight-bold">{{'lblNote'| translate}}:</span>{{ datacart.note}}
                                </p>
                            </div>
                        </div>
                        <button type="button" (click)="order.submit()"
                            class="btn w-100 bg-danger text-white">{{'FEbtn.order' | translate}}</button>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div>
                        <div class="h4 text-danger">{{'FECart.order' | translate }}</div>
                        <div class=" bg-white p-3 mt-3 cart-total">
                            <div *ngFor="let item of order.data; let i = index">
                                <div class="d-flex flex-nowrap mb-3">
                                    <div class="images-order mr-3">
                                        <a [routerLink]="[ '/'+item.path ]">
                                            <img [defaultImage]="'../../../assets/img/default.jpg'"
                                                [lazyLoad]="item.images" [alt]="item.name" width="100%" height="100%" />
                                        </a>
                                    </div>
                                    <div class="content-order">
                                        <div class="w-100 d-flex justify-content-between flex-nowrap">
                                            <div class="description-order">
                                                <a class="name text-dark d-inline-block" style="font-size: 12px;"
                                                    [routerLink]="[ '/'+item.path ]">
                                                    {{item.name}}
                                                </a>
                                            </div>
                                            <div class="text-right">
                                                <div class="price d-inline-block font-weight-bold">
                                                    {{ (+item.price).toLocaleString('vi') }}đ
                                                </div>
                                                <div style="font-size: 15px;">
                                                    x <span class="font-weight-bold">{{item.amount}}</span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <hr class="my-2" />
                            <div class="d-flex  flex-nowrap justify-content-between mb-2">
                                <span>{{'FECart.provisional' | translate}} </span>
                                <span>{{(cart.total()).toLocaleString('vi')}}đ </span>
                            </div>
                            <div class="d-flex  flex-nowrap justify-content-between">
                                <span>{{'FECart.transportFee' | translate}}</span>
                                <span> Liên hệ </span>
                            </div>
                            <hr class="my-2" />
                            <div class="d-flex  flex-nowrap justify-content-between align-items-baseline">
                                <span>{{'FECart.totalProduct' | translate}}<br> (chưa bao gồm phí vận
                                    chuyển)</span>
                                <span class="font-weight-bold value-final">
                                    {{(cart.total()).toLocaleString('vi')}}đ </span>
                            </div>
                            <hr />
                            <div class="d-flex justify-content-between">
                                <button type="button" (click)="payment.skip = false" class="btn w-100">
                                    {{'FECart.back' | translate}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-main" *ngIf="!cart.amount() && cart.amount()<=0 && cartComplete.skip == false">
        <div class="container-fluid text-center">
            <img src="../../../assets/img/nocart.png" class="no-cart__img" width="100%" height="100%" />
            <div class="h5 no-cart__title">{{ 'FECart.noCart' | translate }}</div>
            <a [routerLink]="['/san-pham']" class="no-cart__btn btn btn-sm btn-warning mt-4 px-5">
                {{ 'FECart.continue' | translate }}
            </a>
        </div>
    </div>
    <div class="container-main" *ngIf="!cart.amount() && cart.amount()<=0 && cartComplete.skip == true">
        <div class="container-fluid text-center">
            <img width="100%" height="100%" src="../../../assets/img/cartsuss.png" class="no-cart__img" />
            <div class="h5 no-cart__title">{{'FECart.codeCart' | translate }} <a
                    [routerLink]="['../user/chi-tiet-don-hang/' + cartComplete.code ]">{{cartComplete.code}}</a>
            </div>
            <a [routerLink]="['/san-pham']" class="no-cart__btn btn btn-sm btn-warning mt-4 px-5">
                {{ 'FECart.continue' | translate }}
            </a>
        </div>
    </div>
</div>

<div *ngIf="order.loading == true"
    class="align-items-center d-flex justify-content-center position-absolute w-100 loading" style="min-height: 690px;">
    <div class="position-relative flex-center pt-lg-5 pt-4 pb-lg-5 pb-4">
        <img src="../../../../assets/img/loading.gif" width="125px" height="100%" alt="homeq">
        <img class="position-absolute logo-load" style="opacity: 0.5;" src="../../../../assets/img/logo.png" width="50"
            alt="homeq">
    </div>
</div>