<a [routerLink]="['/' + item.parent_link + '/' + item.link]" class="nav-link p-0 bg-white" href=":;javascript">
    <figure class="category-box mb-0 p-2 text-center">
        <img class="m-auto lazyload rounded" defaultImage="../../../../assets/img/default.jpg" width="100%"
            height="100%" [attr.data-src]="item.images" [lazyLoad]="item.images" [alt]="item.name" />
    </figure>
</a>