<figure class="box-service bg-white mb-0">
    <a *ngIf="item.link_redirect && item.link_redirect !== '';else link_self"
       [href]="item.link_redirect"
       class="d-inline-flex images">
        <img width="100%"
             height="100%"
             [src]="item.images"
             [alt]="item.name" />
    </a>
    <ng-template #link_self>
        <a [routerLink]="['/' + item.parent_link + '/' + item.link]"
           class="d-inline-flex images" href=":;javascript">
            <img width="100%"
                 height="100%"
                 [src]="item.images"
                 [alt]="item.name" />
        </a>
    </ng-template>

    <div class="content px-3 py-4">
        <a *ngIf="item.link_redirect && item.link_redirect !== '';else link_self2"
           [href]="item.link_redirect"
           class="content-title nav-link p-0">
            <h3 class="mb-0">{{ item.name }}</h3>
        </a>

        <ng-template #link_self2>
            <a [routerLink]="['/' + item.parent_link + '/' + item.link]"
               class="content-title nav-link p-0" href=":;javascript">
                <h3 class="mb-0">{{ item.name }}</h3>
            </a>
        </ng-template>

        <div class="divider"></div>
        <span class="content-description mb-3">
            {{ item.description }}
        </span>

        <a [href]="item.link_redirect"
           *ngIf="item.link_redirect && item.link_redirect !== '';else link_self3"
           class="btn content-btn btn-sm rounded-0">
            <span class="mr-2">{{ 'FEbtn.more' | translate }}</span>
            <i class="fal fa-long-arrow-right text-danger"></i>
        </a>
        <ng-template #link_self3>
            <a [routerLink]="['/' + item.parent_link + '/' + item.link]"
               class="btn content-btn btn-sm rounded-0" href=":;javascript">
                <span class="mr-2">{{ 'FEbtn.more' | translate }}</span>
                <i class="fal fa-long-arrow-right text-danger"></i>
            </a>
        </ng-template>
    </div>
</figure>