@import 'src/style/mixins';

.box-service {
  box-shadow: rgb(0 0 0 / 18%) 0px 0.125rem 0.25rem;
  overflow: hidden;
  border-radius: 20px;
  .images {
    height: 14.5rem;
    @include viewport-sm {
      height: 12.5rem;
    }
    > img {
      border-radius: 20px 20px 0 0;
      object-fit: cover;
    }
  }
  .content {
    @mixin content($color, $fontSize) {
      color: $color;
      font-size: $fontSize;
      @content;
    }
    &-title {
      @include content(#247ffb, 20px) {
        @extend %text-truncate-2;
        height: 60px;
      }
    }
    &-description {
      @include content(#454545, 0.875rem);
      @extend %text-truncate-3;
    }
    &-btn {
      color: #000;
      background-color: transparent;
    }
  }
  .divider {
    margin: 0.75rem 0;
    width: 2.5rem;
    height: 1px;
    transform-origin: 0;
    background: linear-gradient(to right, #247ffb, #fff323);
    transition: transform 0.25s ease-out;
  }
  &:hover {
    .divider {
      transform: scaleX(5.25);
    }
    .content-btn {
      color: #fff;
      background-color: #247ffb;
      border-color: #247ffb;
    }
  }
}
