<div class="container-fluid">
    <div class="row">
        <div *ngFor="let item of data" class="col-sm-6 col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="title">{{item.title}}</div>
                    <h3 class="flex-between-center">
                        <div>{{item.on | number : '1.0-3'}} <small class="text-warning" style="font-size: 14px;">/
                                {{item.off}} off</small></div>
                        <i [ngClass]="item.class"></i>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>