<div *ngIf="show == -1">
    <div class="position-relative flex-center pt-lg-5 pt-4 pb-lg-5 pb-4">
        <img src="../../../../assets/img/loading.gif" width="125px" height="100%" alt="HomeQ">
        <img class="position-absolute logo-load" style="opacity: 0.5;" src="../../../../assets/img/logo.png" width="60"
            alt="HomeQ">
    </div>
</div>

<div class="py-md-5 py-4">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-md-8 pr-md-0">
                    <div *ngIf="show == 1">
                        <div class="mb-2" *ngFor="let item of data.list; index as i">
                            <box-content-grid [item]="item"></box-content-grid>
                        </div>
                        <!-- <div class="w-100" >
                            <pagination class="d-flex justify-content-center my-3" [totalItems]="Pagination.total"
                                previousText="{{ 'FEbtn.previousious' | translate  }}"
                                nextText="{{ 'FEbtn.next' | translate  }}" [itemsPerPage]="Pagination.itemsPerPage"
                                [maxSize]="Pagination.maxSize" (pageChanged)="Pagination.changed($event)">
                            </pagination>
                        </div> -->
                        <div class="w-100" *ngIf="Pagination.total > Pagination.itemsPerPage">
                            <pagination class="d-flex justify-content-center my-3" [totalItems]="Pagination.total"
                                [itemsPerPage]="Pagination.itemsPerPage" [maxSize]="Pagination.maxSize"
                                [previousText]="'FEbtn.previous' | translate" [nextText]="'FEbtn.next' | translate"
                                (pageChanged)="Pagination.changed($event)" [rotate]="false">
                            </pagination>
                        </div>
                    </div>
                    <div *ngIf="show == 0" class="align-items-center d-flex justify-content-center"
                        style="height: 300px">
                        <h3 class="h4">{{'lblUpdating' | translate}}</h3>
                    </div>
                </div>
                <div class="col-12 col-md-4 mt-4 mt-md-0">
                    <ul class="content-group nav nav-pills nav-fill">
                        <li class="content-group__item nav-item cursor-pointer py-1"
                            *ngFor="let item of data.group; index as i"
                            (click)="group.handleGetListByGroup(item.id); group.active = i"
                            [class.content-group__item--active]="group.active == i">{{ item.name.toLowerCase() }}
                        </li>
                    </ul>
                    <ng-container *ngIf="group.list && group.list.length > 0; else noData">
                        <div class="content-list py-3">
                            <box-content-grid *ngFor="let item of group.list; index as i" [item]="item">
                            </box-content-grid>
                        </div>
                    </ng-container>
                    <ng-template #noData>
                        <h3 class="text-center font-weight-bold my-5">{{ 'lblUpdating' | translate }}</h3>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>