.content {
    &-group {
        border-bottom: 2px solid var(--color);
        &__item {
            &::first-letter {
                text-transform: uppercase;
            }
            &--active {
                color: white;
                background-color: var(--color);
            }
        }
    }
    &-list {
        .box-content {
            height: unset;
        }
    }
}
