<section class="slide" infiniteScroll [infiniteScrollDistance]="1" (scrolled)="onScrollAboutHandle()">
    <owl-carousel-o [options]="slide.options">
        <ng-container *ngFor="let item of slide.data">
            <ng-template carouselSlide>
                <a class="d-block" [href]="item.link" target="_blank" rel="noopener noreferrer">
                    <div class="slide--bg d-flex" [ngStyle]="{'background-image':  'url(' + item.images + ')'}">
                        <div class="slide-content m-auto"
                            *ngIf="item.position && item.position < 4 && item.position > 0 && width > 769"
                            [ngClass]="+item.position == 1 ? 'text-left' : (+item.position == 2 ? 'text-center' :'text-right')">
                            <p class="d-inline-block slide-description px-2 py-1"
                                [ngStyle]="{'background-color': item.background ? item.background : 'rgb(0, 0, 0, 0.33)', 'color': item.color ? item.color : 'white' }">
                                {{ item.description }}
                            </p>
                            <br />
                            <h2 class="d-inline-block slide-title text-uppercase px-2 py-1"
                                [ngStyle]="{'background-color': item.background ? item.background : 'rgb(0, 0, 0, 0.33)', 'color': item.color ? item.color : 'white'}">
                                {{ item.title }}
                            </h2>
                            <div class="mt-3">
                                <a [href]="item.link" target="_blank" rel="noopener noreferrer"
                                    class="d-inline-flex align-items-center slide-btn btn rounded-0 py-2 px-4"
                                    [ngStyle]="{'border-color': item.background ? item.background : 'rgb(0, 0, 0, 0.33)', 'color': item.color ? item.color : 'white'}">
                                    <span class="mr-2">{{ 'lblViewMore' | translate }}</span>
                                    <i class="fal fa-long-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </a>
            </ng-template>
        </ng-container>
    </owl-carousel-o>
</section>

<section class="about bg-light overflow-hidden pt-0 pt-md-5" infiniteScroll [infiniteScrollDistance]="1"
    (scrolled)="onScrollServiceHandle()">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row align-items-center py-4 bg-white m-md-0">
                <div class="col-md-6" data-aos="fade-right" data-aos-easing="linear" data-aos-duration="1000"
                    data-aos-delay="0">
                    <p class="text-uppercase font-weight-bold mb-2" style="color:#39ab45"
                        [innerHTML]="('aboutUsHome' | translate) | sanitizeHtml">
                    </p>
                    <h1 class="about__title color text-uppercase font-weight-bold">
                        {{ about.data.title }}
                    </h1>
                    <p class="py-2">
                        {{ about.data.description }}
                    </p>
                    <button [routerLink]="['/gioi-thieu']"
                        class="btn bg-transparent about-btn rounded-0 d-inline-block mb-3 mb-sm-0">
                        <span class="mr-2">{{ 'lblViewMore' | translate }}</span>
                        <i class="fal fa-long-arrow-right text-danger"></i>
                    </button>
                </div>
                <div class="col-md-6" data-aos="fade-left" data-aos-easing="linear" data-aos-duration="1000"
                    data-aos-delay="0">
                    <div class="row">
                        <div class="col-12" *ngFor="let item of about.service | slice: 0: 4; index as i">
                            <div [ngClass]="{'mt-4': i !== 0}">
                                <box-about-service [item]="item"></box-about-service>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- (scrolled)="!flagCategory ? onScrollCallCategory() : false" -->
<section class="service bg-light overflow-hidden pt-5" infiniteScroll [infiniteScrollDistance]="1"
    (scrolled)="!flagProduct ? onScrollCallProduct() : false; !flagCategory ? onScrollCallCategory() : false">
    <div class="container-main">
        <div class="container-fluid">
            <h2 class="mb-0 heading font-weight-bold text-uppercase text-body text-decoration-none"
                [innerHTML]="('serviceHome' | translate) | sanitizeHtml">
            </h2>
            <div class="row flex-nowrap flex-md-wrap py-4 sm-list overflow-hidden">
                <div class="col-10 col-md-4" *ngFor="let item of service.data; index as i">
                    <div [attr.data-aos]="i == 0 ? 'fade-right' : (i == 2 ? 'fade-left' : '')" data-aos-duration="1000"
                        data-aos-delay="0" data-aos-offset="0">
                        <app-box-service [item]="item"></app-box-service>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="category pt-5" *ngIf="width <= MOBILE_VIEWPORT">
    <div class="container-main">
        <div class="container-fluid">
            <h2 class=" heading font-weight-bold text-uppercase text-body">
                {{'FEHome.category' | translate}}
            </h2>
        </div>
        <div class="container-fluid mt-3">
            <div class="row">
                <div class="col-3 p-0" *ngFor="let item of category.data | slice: 0:8">
                    <app-box-category [item]="item"></app-box-category>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="product bg-light py-5" infiniteScroll [infiniteScrollDistance]="1"
    (scrolled)="!flagNews ? onScrollCallNews() : false">
    <div class="container-main">
        <div class="container-fluid">
            <h2 class="mb-0 heading font-weight-bold text-uppercase text-body"
                [innerHTML]="('productHome' | translate) | sanitizeHtml">
            </h2>
            <div class="row bg-white py-4">
                <div class="col-6 col-md-3 mb-3 d-none d-md-block "
                    *ngFor="let item of product.hot | slice : 0:8; i as index"
                    [attr.data-aos]="i == 0 ? 'fade-right' : (i == 2 ? 'fade-left' : '')" data-aos-duration="1000"
                    data-aos-delay="0" data-aos-offset="0">
                    <app-box-product class="box" [title]="typeHeadingBox" [item]="item"></app-box-product>
                </div>
            </div>
        </div>
        <div class="d-block d-md-none">
            <owl-carousel-o [options]="product.options" class="owl-category">
                <ng-container *ngFor="let items of product.mobileHot | slice : 0:8; index as j">
                    <ng-template carouselSlide [id]="j">
                        <div>
                            <div class="box mb-3 " *ngFor="let item of items">
                                <app-box-product [title]="typeHeadingBox" [item]="item"></app-box-product>
                            </div>
                        </div>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
    </div>
</section>

<section class="news bg-light overflow-hidden pt-5" infiniteScroll [infiniteScrollDistance]="1"
    (scrolled)="!flagBanner ? onScrollCallBanner() : false">
    <div class="container-main">
        <div class="container-fluid">
            <a [routerLink]="['/' + news.data.link]" href=":;javascript">
                <h2 class="mb-0 heading font-weight-bold text-uppercase text-body d-inline-block">
                    {{ news.data.title }}
                </h2>
            </a>
            <div class="py-5">
                <owl-carousel-o [options]="news.options">
                    <ng-container *ngFor="let item of news.data.list">
                        <ng-template carouselSlide>
                            <app-box-content [item]="item"></app-box-content>
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</section>

<section class="banner pt-5 bg-light" infiniteScroll [infiniteScrollDistance]="1"
    (scrolled)="!flagEvaluate ? onScrollCallEvaluate() : false">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row">
                <div [ngClass]="i == 0 ? 'col-md-8' : 'col-md-4 '" *ngFor="let item of banner.data; index as i">
                    <div class="images-banner" [ngClass]="{'pt-3': width < 425}">
                        <img class="lazyload" data-src="{{item.images}}" [alt]="item.name" width="100%" height="100%" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="evaluate bg-white pt-5" infiniteScroll [infiniteScrollDistance]="1"
    (scrolled)="!flagPartner ? onScrollCallPartner() : false">
    <div class="container-main">
        <div class="container-fluid">
            <h2 class="heading font-weight-bold text-center mb-0"
                [innerHTML]="('evaluateHome' | translate) | sanitizeHtml">
            </h2>
            <div class="py-4">
                <owl-carousel-o [options]="evaluate.options" class="owl-evaluate">
                    <ng-container *ngFor="let item of evaluate.data.list | slice: 0: 4">
                        <ng-template carouselSlide>
                            <app-box-evaluate class="h-100" [item]="item"></app-box-evaluate>
                        </ng-template>
                    </ng-container>
                </owl-carousel-o>
            </div>
        </div>
    </div>
</section>

<section class="partner bg-light py-5">
    <div class="container-main">
        <div class="container-fluid">
            <owl-carousel-o [options]="partner.options">
                <ng-container *ngFor="let item of partner.list">
                    <ng-template carouselSlide>
                        <a target="_blank" [routerLink]="[item.link]" href=":;javascript">
                            <img [src]="item.logo" [alt]="item.company" [title]="item.company" width="100%"
                                height="100%" />
                        </a>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
    </div>
</section>