@import 'src/style/mixins';

.heading {
    color: var(--color) !important;
    &-container:hover {
        text-decoration: none;
    }
}

.slide {
    &--bg {
        height: calc(100vh - 88px);
        background-repeat: no-repeat;
        background-size: cover;
        @include viewport-sm {
            height: 175px;
        }
    }

    &-content {
        max-width: 1024px;
    }

    &-title {
        font-size: 2.625rem;
        @include viewport-sm {
            font-size: 1.875rem;
        }
    }

    &-btn i {
        font-size: 1.25rem;
    }
}

.about {
    &__title {
        line-height: 1.33;
        font-size: 28px;
    }
    &-btn:hover {
        color: #fff;
        background-color: #247ffb !important;
        border-color: #247ffb;
    }
}

.sm-list {
    @include viewport-sm {
        overflow: scroll;
    }
    &::-webkit-scrollbar {
        width: 0 !important;
        height: 0 !important;
    }
}

.product {
    background-color: white !important;
    [class^='col-'] {
        &:not(:first-child) > .box {
            border-left-color: transparent !important;
        }
        @for $i from 5 through 10 {
            &:nth-child(#{$i}) > .box {
                border-top: transparent !important;
            }
        }
        @include viewport-sm {
            @for $i from 3 through 10 {
                &:nth-child(#{$i}) > .box {
                    border-top: transparent !important;
                    @if ($i == 6) {
                        border-left-color: transparent !important;
                    }
                }
            }
        }
        > .box {
            transition: 0.2s ease-out;
            box-shadow: 0 9px 30px -6px rgb(63 63 63 / 30%);
            z-index: 4;
            display: block;
            border-radius: 20px;
            overflow: hidden;
        }
    }
    .box {
        transition: 0.2s ease-out;
        box-shadow: 0 9px 30px -6px rgb(63 63 63 / 30%);
        z-index: 4;
        display: block;
        border-radius: 20px;
        overflow: hidden;
    }
}

.banner {
    padding-top: 70px;
}

.partner__img {
    object-fit: cover;
}

@media (min-width: 615px) {
    .images-banner {
        height: 270px;
    }
}
