<figure class="box-content bg-white d-flex mb-3">
    <div class="box-content-images">
        <a [routerLink]="['/' + item.parent_link + '/' + item.link]">
            <img class="images"
                 [src]="item.images"
                 [title]="item.name"
                 [alt]="item.name"
                 width="100%"
                 height="100%" />
        </a>
    </div>
    <div class="box-content-detail d-flex flex-column justify-content-around">
        <a [routerLink]="['/' + item.parent_link + '/' + item.link]"
           class="font-weight-bold nav-link p-0 text-body">
            <span class="name font-weight-bold mb-0"
                  *ngIf="titleBoxDetailContent === 0; else elseTitleBox">
                {{ item.name }}
            </span>
            <ng-template #elseTitleBox>
                <h2 class="name font-weight-bold mb-0">{{ item.name }}</h2>
            </ng-template>
        </a>
        <div class="group text-body">
            <div class="group_content text-nowrap text-white px-2 py-1">{{ item.parent_name }}</div>
            <span class="mx-3">{{ item.maker_date | date: "dd/MM/yyyy" }}</span>
            <span><i class="fad fa-street-view"></i>{{ item.views }}</span>
        </div>
        <p class="box-content-detail-description mb-0">
            {{ item.description }}
        </p>
    </div>
</figure>