@import 'src/style/mixins';

.box-content {
  height: 130px;
  border-radius: 12px;
  overflow: hidden;
  &:hover .name {
    color: var(--color) !important;
  }
  &-images {
    width: 30%;
    height: 130px;
    margin: 0 15px 0 0;
    overflow: hidden;
    border-radius: 12px;
    > a .images {
      object-fit: cover;
      object-position: center;
      border-radius: 12px;
    }
    @include viewport-sm {
      width: 145px;
      margin-right: 12.5px;
    }
  }
  &-detail {
    width: calc(70% - 15px);
    .group {
      font-size: 0.875rem;
      color: var(--color);
      &_content {
        display: inline-flex !important;
        max-width: 160px;
        overflow: hidden;
        border-radius: 10px;
        font-size: 12px;
        background-color: var(--color);
      }
    }
    .name {
      font-size: 13pt;
      height: 42px;
      line-height: 1.2;
      @extend %text-truncate-2;
      @include viewport-sm {
        font-size: 0.875rem;
        height: 33px;
      }
    }
    &-description {
      @extend %text-truncate-2;
      height: 2.375rem;
      font-size: 0.9375rem;
      color: #555;
      line-height: 1.3;
      @include viewport-sm {
        font-size: 0.875rem;
        height: 2.25rem;
      }
    }
    .date {
      font-size: 13px;
      @include viewport-sm {
        font-size: 12px;
      }
      > a {
        color: var(--color);
      }
    }
  }
}
