<div class="contact" *ngIf="pageCartStatus && pageType != 6">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row align-items-center py-4">
                <div class="col-md-8 text-center text-md-left">
                    <div class="heading d-md-inline" [innerHTML]="('contactUsHome' | translate) | sanitizeHtml">
                    </div>
                    <span class="small text-black-50">{{ 'FEbtn.youAre' | translate }}
                    </span>
                </div>
                <div class="col-md-4">
                    <div class="d-flex justify-content-between mt-2 mt-md-0">
                        <button class="contact-btn btn rounded-0 bg-transparent" (click)="routerContact($event)"
                            value="0">
                            {{ 'FEbtn.agency' | translate }}
                        </button>
                        <button class="contact-btn btn rounded-0 text-white" (click)="routerContact($event)" value="1">
                            {{ 'FEbtn.customer' | translate }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer *ngIf="pageType != 6">
    <div class="footer pt-4">
        <div class="container-main">
            <div class="container-fluid">
                <div class="row footer-body pt-3">
                    <div class="col-12 col-md-6">
                        <div class="footer-body-title h3 mb-3 text-uppercase text-white">
                            {{'FEFooter.contact' | translate}}
                        </div>
                        <div class="mb-2" style="color: #ddd;" [innerHTML]="('nameCompany' | translate) | sanitizeHtml">
                        </div>
                        <div class="mb-2">
                            <p class="footer-body-item mb-2" *ngIf="('FEAddress' | translate)!='FEAddress'">
                                {{'lblAddress' | translate}}: {{'FEAddress' | translate}}
                            </p>
                            <p class="footer-body-item mb-2" *ngIf="('FEAddress2' | translate)!='FEAddress2'">
                                {{'lblAddress2' | translate}}: {{'FEAddress2' | translate}}
                            </p>
                            <p class="footer-body-item mb-2 "
                                *ngIf="('FEPhone' | translate)!='FEPhone' || ('FEPhone2' | translate)!='FEPhone2'">
                                {{'FEFooter.phone' | translate}}
                                <a href="tel:{{'FEPhone'|translate}}" class="font-weight-bold" style="color: #d1d3d6">
                                    {{'FEPhone'|translate}}
                                </a>
                                <span
                                    *ngIf="('FEPhone2' | translate)!='FEPhone2' && ('FEPhone2' | translate) != ''">-</span>
                                <a href="tel:{{'FEPhone2'|translate}}" class="font-weight-bold" style="color: #d1d3d6">
                                    {{'FEPhone2'|translate}}
                                </a>
                            </p>
                            <p class="footer-body-item mb-2"
                                *ngIf="('FEMail' | translate)!='FEMail' || ('FEMail2' | translate)!='FEMail2'">
                                {{'FEFooter.email'|translate}}
                                <a href="mailto:{{'FEMail'|translate}}" class="font-weight-bold" style="color: #d1d3d6">
                                    {{'FEMail' | translate}}
                                </a>
                                <span
                                    *ngIf="('FEMail2' | translate) != 'FEMail2' && ('FEMail2' | translate) != ''">-</span>
                                <a href="mailto:{{'FEMail2'|translate}}" class="font-weight-bold" style="color: #d1d3d6"
                                    *ngIf="('FEMail2' | translate)!='FEMail2'">
                                    {{'FEMail2' | translate}}
                                </a>
                            </p>
                        </div>
                        <div class="social pt-2">
                            <a target="_blank" rel="noopener noreferrer" [href]="('FEHrefFacebook' | translate)"
                                *ngIf="('FEHrefFacebook' | translate)!='FEHrefFacebook'" class="social-link mr-2">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a target="_blank" rel="noopener noreferrer" [href]="('FEHrefInstagram' | translate)"
                                *ngIf="('FEHrefInstagram' | translate)!='FEHrefInstagram'" class="social-link mx-2">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a target="_blank" rel="noopener noreferrer" [href]="('FEHrefYoutube' | translate)"
                                *ngIf="('FEHrefYoutube' |  translate)!='FEHrefYoutube'" class="social-link ml-2">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mt-4 mt-md-0">
                        <div class="flex-between-center mb-3">
                            <div class="footer-body-title h3 mb-0 text-uppercase text-white">
                                {{ 'FEFooter.support' | translate }}
                            </div>
                            <div class="d-block d-md-none">
                                <i class="fas fa-chevron-down text-white cursor-pointer"
                                    (click)="policy.show = !policy.show"></i>
                            </div>
                        </div>
                        <div [ngClass]="{'d-none d-md-block': !policy.show}">
                            <ul class="list-unstyled p-0">
                                <li class="mb-md-1 d-inline-block w-50" *ngFor="let item of policy.data">
                                    <a class="footer-body-item" [routerLink]="['/' + item.link]" href=":;javascript">{{
                                        item.name }}</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <hr class="d-none d-md-block" />
                <div class="row footer-body">
                    <div class="col-12 col-md-6 mt-3 mt-md-0">
                        <div class="flex-between-center mb-3">
                            <div class="footer-body-title h3 text-uppercase text-white">
                                {{ 'FEFooter.product' | translate }}
                            </div>
                            <div class="d-block d-md-none">
                                <i class="fas fa-chevron-down text-white cursor-pointer"
                                    (click)="product.show = !product.show"></i>
                            </div>
                        </div>
                        <div class="mb-2" [ngClass]="{'d-none d-md-block': !product.show}">
                            <ul class="list-unstyled p-0">
                                <li class="mb-md-1  d-inline-block w-50" *ngFor="let item of product.data">
                                    <a class="footer-body-item" [routerLink]="['/' + item.link]" href=":;javascript">{{
                                        item.name }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mt-3 mt-md-0">
                        <div class="flex-between-center mb-3">
                            <div class="footer-body-title h3 text-uppercase text-white">
                                {{ 'FEFooter.service' | translate }}
                            </div>
                            <div class="d-block d-md-none">
                                <i class="fas fa-chevron-down text-white cursor-pointer"
                                    (click)="services.show = !services.show"></i>
                            </div>
                        </div>
                        <div class="mb-2" [ngClass]="{'d-none d-md-block': !services.show}">
                            <ul class="list-unstyled p-0">
                                <li class="mb-md-1  d-inline-block w-50" *ngFor="let item of services.data">
                                    <a class="footer-body-item"
                                        *ngIf="item.link_redirect && item.link_redirect !== '';else link_self"
                                        [href]="[item.link_redirect]">
                                        {{ item.name }}
                                    </a>
                                    <ng-template #link_self>
                                        <a class="footer-body-item" [routerLink]="['/' + item.link]"
                                            href=":;javascript">
                                            {{ item.name }}
                                        </a>
                                    </ng-template>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr class="my-1" />
                <div
                    class="row footer-end py-2 py-md-3 align-items-center justify-content-center justify-content-md-between">
                    <div class="col-md-6 col-lg-5 d-none d-md-block">
                        <div class="d-flex mb-2">
                            <div class="menu" *ngFor="let item of menu.data; let i = index"
                                [ngClass]="{'d-none': i > 3}">
                                <a class="text-uppercase" [ngClass]="{'pl-0': i == 0 }"
                                    [routerLink]="[  '/'+ getType(item.link, item.type)  ]"
                                    [ngStyle]="{'border-right': i < menu.data.length - 1 ? '1px solid #515152' : ''}"
                                    href=":;javascript">
                                    {{item.name}}
                                </a>
                            </div>
                        </div>
                        <div class="text-white-50">
                            <span>{{ 'copyright' | translate }}</span>
                            <a class="text-white-50 " style="text-decoration: none" href="https://chips.vn"
                                target="_blank" rel="noopener noreferrer">Chips</a>
                        </div>
                    </div>
                    <div class="col-12 col-md-3 col-lg-4" *ngIf="payment.data && payment.data.length > 0">
                        <div class="align-items-center d-flex"
                            [ngClass]="payment.data.length > 1 ? 'justify-content-between' : 'justify-content-end'">
                            <!-- DMCA Protection -->
                            <a *ngIf="payment.DMCA.link && payment.DMCA.link !== ''"
                                href="//www.dmca.com/Protection/Status.aspx?ID=795abd96-7a1e-4098-8bd5-e831a6deaf02"
                                target="_blank" title="DMCA.com Protection Status" class="dmca-badge">
                                <img src="https://images.dmca.com/Badges/dmca_protected_sml_120m.png?ID=795abd96-7a1e-4098-8bd5-e831a6deaf02"
                                    alt="DMCA.com Protection Status" width="121" height="24">
                                <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"></script>
                            </a>

                            <!-- Ministry of Industry and Trade -->
                            <a *ngIf="payment.MOIT.link_redirect && payment.MOIT.link_redirect !== '' || payment.MOIT.link && payment.MOIT.link !== ''"
                                [href]="[payment.MOIT.link_redirect ? payment.MOIT.link_redirect : payment.MOIT.link]"
                                target="_self" class="d-inline-block">
                                <img width="150" height="57" [src]="payment.MOIT.images" [alt]="payment.MOIT.name"
                                    [title]="payment.MOIT.name">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-12 text-white-50 text-center py-2 d-md-none">
                        <span> {{ 'copyright' | translate }}</span>
                        <a class="text-white-50" style="text-decoration: none" href="https://chips.vn" target="_blank"
                            rel="noopener noreferrer">Chips</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>