@import "src/style/mixins";

.contact {
    &-btn {
        --color: #34a64f;
        width: calc(50% - 0.25rem);
        border-style: dashed;

        &:first-child {
            border-color: var(--color);
            color: var(--color);

            &:hover {
                color: #fff;
                background-color: var(--color) !important;
            }
        }

        &:last-child {
            background-color: var(--color);

            &:hover {
                border-color: var(--color);
                color: var(--color) !important;
                background-color: transparent;
            }
        }
    }
}
.block {
    display: block;
}
.footer {
    background-color: #010f27;
    hr {
        border-top-color: #575758 !important;
    }

    &-body {
        &-title {
            font-size: 18px;
            @include viewport-sm {
                font-size: 14px;
            }
        }

        &-item {
            color: #ddd;
            cursor: pointer;
            font-size: 14px;
            text-decoration: none;
        }
        .list-unstyled li {
            @include viewport-sm {
                width: 100% !important;
            }
        }
    }

    &-end {
        .menu a {
            font-size: 12px;
            padding: 0 10px;
            color: #ddd;
        }
    }

    .social-link {
        color: #a2a2a2;
        display: inline-block;
        height: 40px;
        line-height: 40px;
        height: 40px;
        width: 40px;
        border: 1px solid;
        border-radius: 3px;
        text-align: center;
        transition: all 0.3s;
        font-size: 18px;
    }

    .social-link:hover {
        transform: scale(1.1);
        color: #ffffff;
        border-color: #ffffff;
    }
}
