.product {
    overflow-x: auto;

    &::-webkit-scrollbar {
        height: 6px;
        background-color: #dedede;

        &-thumb {
            background-color: grey;
        }
    }

    .table > thead > tr > th {
        min-width: 100px;
    }
}
