<form [formGroup]="fm" *ngIf="fm" (submit)='$event.stopPropagation()'>
    <div class="card">
        <div class="card-header">
            <strong>{{ ((id && id!=0)?'attribute.update':'attribute.add') | translate:{name : fm.value.name}
                }}</strong>
        </div>
        <div class="card-body">
            <div class="form-group">
                <label for="name">{{ 'lblName' | translate }}<span class="ml-2" style="color:red">*</span></label>
                <input type="text" autocomplete="off" class="form-control" required name="name" formControlName="name"
                    id="name">
                <small *ngIf="!fm.get('name').valid && fm.get('name').touched" style="color:red">{{'message.required'
                    | translate}}</small>
            </div>
            <div class="form-group">
                <label for="keywords">Giá trị</label>
                <input type="text" class="form-control" [(ngModel)]="valueAttr.value"
                    [ngModelOptions]="{standalone: true}" (keyup.enter)="valueAttr._save()" id="keywords"
                    autocomplete="off" placeholder="Nhập giá trị xong nhấn enter">
                <div class="keywords mt-1" *ngIf="parent && parent.length > 0">
                    <button type="button" class="btn btn-info mr-2 mt-2" *ngFor="let row of parent"
                        (click)="valueAttr.onRemove(row)">
                        {{ row.name }}
                        <span class="fas fa-times-circle"></span>
                    </button>
                </div>
            </div>
            <div class="form-group">
                <label for="note">{{'lblNote' | translate}}</label>
                <textarea formControlName="note" class="form-control" id="note" rows="1"></textarea>
            </div>
        </div>
        <div class="card-footer">
            <div class="float-left">
                <label class="lable-switch pull-left">
                    <div class="switch">
                        <input checked="checked" formControlName="status" type="checkbox" name="status">
                        <span class="lever"></span>
                    </div>
                    <span ng-bind="lang.lbl_status_on" class="ng-binding">{{ (fm.value.status == 1 ? 'status.on' :
                        'status.off') | translate
                        }}</span>
                </label>
            </div>
            <button type="button" (click)="onSubmit()" [disabled]="!fm.valid" class="btn btn-success float-right">
                {{'btn.save' | translate }}</button>
            <button type="button" [routerLink]="[(id && id !=0)?'../../get-list':'../get-list']"
                class="btn btn-primary mr-2  float-right">
                {{'btn.back' | translate }}</button>
        </div>
    </div>
</form>