<form [formGroup]="fm" *ngIf="fm" (submit)='$event.stopPropagation()'>
    <div class="card w-100">
        <div class="card-header">
            <strong>{{ 'customer.add' | translate }}</strong>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="form-group">
                        <label for="name">{{ 'lblName' | translate }}
                            <span class="ml-2 text-danger">*</span>
                        </label>
                        <input type="text" class="form-control" name="name" formControlName="name" id="name"
                            autocomplete="off" required>
                        <small *ngIf="!fm.get('name').valid && fm.get('name').touched"
                            style="color:red">{{'message.required' | translate}}</small>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-12 pr-md-0">
                            <div class="form-group">
                                <label for="email">{{ 'lblEmail' | translate }}
                                    <span class="text-danger pl-2">*</span>
                                </label>
                                <input type="email" class="form-control" name="email" formControlName="email"
                                    autocomplete="off" id="email" required>
                                <small *ngIf="!fm.get('email').valid && fm.get('email').touched"
                                    style="color:red">{{'message.email' | translate}}</small>
                            </div>

                        </div>
                        <div class="col-md-6 col-12">
                            <div class="form-group">
                                <label for="phone">{{ 'lblPhone' | translate }}</label>
                                <input type="text" class="form-control" name="phone" formControlName="phone" id="phone"
                                    autocomplete="off">
                                <small *ngIf="!fm.get('phone').valid && fm.get('phone').touched"
                                    style="color:red">{{'message.phone' | translate}}</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 pl-0">
                    <div class="row">
                        <div class="col-md-6 col-12 pr-md-0">
                            <div class="form-group">
                                <label for="birth_date">{{ 'user.birth_date' | translate }}</label>
                                <input type="text" [maxDate]="maxDate" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                                    name="birth_date" class="form-control" autocomplete="off" id="birth_date"
                                    formControlName="birth_date" bsDatepicker>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="form-group">
                                <div>
                                    <label>{{ 'sex.title' | translate }}</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="male" name="sex" class="custom-control-input"
                                        formControlName="sex" [value]="1">
                                    <label class="custom-control-label" for="male">
                                        {{'user.male' | translate }}</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="female" name="sex" class="custom-control-input"
                                        formControlName="sex" [value]="0">
                                    <label class="custom-control-label" for="female">
                                        {{'user.female' | translate }}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="address">{{ 'order.address' | translate }}</label>
                        <input type="text" class="form-control" name="address" formControlName="address" id="address"
                            autocomplete="off">
                    </div>
                </div>
            </div>

        </div>
        <div class="card-footer d-flex align-items-center justify-content-end">
            <div>
                <button type="button" class="btn btn-secondary mr-3" (click)="modalRef.hide()">
                    {{'btn.close' | translate}}
                </button>
                <button type="button" (click)="onSubmit()" [disabled]="!fm.valid" class="btn btn-success">
                    {{'btn.save' | translate}}
                </button>
            </div>
        </div>
    </div>
</form>