<div class="bg-light">
    <div class="container-main">
        <div class="container-fluid">
            <div class=" pt-md-5 pt-4">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent border-0 m-0 p-0" *ngIf="data.name && data.name.length > 0">
                        <li class="breadcrumb-item" aria-current="page">
                            <a [routerLink]="['/']" routerLinkActive="router-link-active">
                                {{ 'lblHome' | translate }}
                            </a>
                        </li>
                        <li class="breadcrumb-item" aria-current="page">
                            <a [routerLink]="['/san-pham']" routerLinkActive="router-link-active">
                                Sản phẩm
                            </a>
                        </li>
                        <li class="breadcrumb-item" aria-current="page"
                            *ngIf="data.parent_name && data.parent_name != ''">
                            <a [routerLink]="['/san-pham/'+ data.parent_link]" routerLinkActive="router-link-active">
                                {{ data.parent_name }}
                            </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page"
                            *ngIf="data.page_name && data.page_name != ''">
                            <a [routerLink]="['/san-pham/'+ data.page_link]" routerLinkActive="router-link-active">
                                {{ data.page_name }}
                            </a>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="bg-light pt-4 pb-5" *ngIf="data.name && data.name !== ''">
    <div class="container-main">
        <div class="container-fluid" id="owl-carousel">
            <div class="row bg-white pb-4">
                <div class="col-md-4 col-12">
                    <div class="pt-3 listImages position-sticky" *ngIf="listImages.data && listImages.data.length > 0">
                        <owl-carousel-o #owlLibrary [options]="library.libraryOptions"
                            class="owl-product overflow-hidden" (changed)="library.getPassedData($event)"
                            (initialized)="library.getPassedData($event)">
                            <ng-container *ngFor="let item of listImages.data; index as i">
                                <ng-template carouselSlide [id]="'images-' + i" class="overflow-hidden">
                                    <a data-fancybox="gallery" data-thumbs='{"autoStart": true}'
                                        [href]="globals.BASE_API_URL + 'public/products/'+item">
                                        <img class="rounded images-detail"
                                            [defaultImage]="globals.BASE_API_URL + 'public/products/'+ item"
                                            [lazyLoad]="globals.BASE_API_URL + 'public/products/'+ item" [alt]="item"
                                            [name]="item" width="100%" height="100%">
                                    </a>
                                </ng-template>
                            </ng-container>
                        </owl-carousel-o>
                        <div class="mt-3">
                            <owl-carousel-o [options]="listImages.options"
                                class="d-block overflow-hidden img-list__options">
                                <ng-container *ngFor="let item of listImages.data; let i = index">
                                    <ng-template carouselSlide>
                                        <div (click)="library.onClickImageChild('images-'+i)">
                                            <img class="img-child" [name]="item" [id]="'images-' + i + '-child'"
                                                [defaultImage]="'../../../../assets/img/default.jpg'"
                                                [lazyLoad]="globals.BASE_API_URL + 'public/products/'+ item "
                                                [alt]="item" width="100%" height="100%">
                                        </div>
                                    </ng-template>
                                </ng-container>
                            </owl-carousel-o>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-12">
                    <div class=" w-100 pt-3">
                        <h1 class="h4 card-title font-weight-bold">{{data.name}}
                        </h1>
                    </div>
                    <div class="d-md-flex justify-content-start">
                        <div class="d-inline-block mr-2" *ngIf="data.code && data.code != ''">
                            <span class="text-dark font-weight-bold mr-1">
                                {{'FEProductsDetail.sku' | translate}}:
                            </span>
                            <span style="color:var(--color)">{{data.code}}</span>
                        </div>
                        <div class="d-inline-block mr-2" *ngIf="data.brand && data.brand != ''">
                            <span class="text-dark font-weight-bold mr-1">
                                {{'FEProductsDetail.brand' | translate}}:
                            </span>
                            <span style="color:var(--color)">{{data.brand}}</span>
                        </div>
                        <div class="d-inline-block" *ngIf="data.origin && data.origin != ''">
                            <span class="text-dark font-weight-bold mr-1">
                                {{'FEProductsDetail.origin' | translate}}:
                            </span>
                            <span style="color:var(--color)">{{data.origin}}</span>
                        </div>
                    </div>
                    <div class="w-100 py-2 price-product">
                        <div>{{'FEProductsDetail.status' | translate }}:
                            <span class="font-weight-bold">{{ (+data.inventory === 1 ? 'FEStatus.stocking' :
                                'FEStatus.outofstock') | translate }}</span>
                        </div>
                        <div class="d-flex align-items-baseline">
                            <div *ngIf="data.max == null && data.min == null">
                                <div *ngIf="+data.price_sale > 0" class="mr-3"
                                    [ngClass]="{'price-sale font-weight-bold': +data.price_sale > 0}">
                                    {{ (+data.price_sale).toLocaleString('vi') }} đ
                                </div>
                                <div
                                    [ngClass]="+data.price_sale > 0 ? 'price text-black-50 ' : 'price-sale font-weight-bold '">
                                    {{+data.price > 0 ? (+data.price).toLocaleString('vi') +' đ' : ('lblContact' |
                                    translate)}}
                                </div>
                            </div>
                            <div class="price-sale font-weight-bold">
                                <span *ngIf="+data.min > 0">
                                    {{ (+data.min).toLocaleString('vi') +'đ' }}</span>
                                <span *ngIf="data.max > 0 && data.min > 0"> - </span>
                                <span *ngIf="data.max > 0">
                                    {{ (+data.max).toLocaleString('vi') +'đ' }}</span>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="data.info && data.info.length> 0" class="pt-2">
                        <div class="pr-3 w-100 images" id="productDetail" [innerHTML]="data.info | sanitizeHtml">
                        </div>
                        <div class="gradient"></div>
                    </div>
                    <div *ngIf="data.attribute && data.attribute.length> 0">
                        <div class="pt-2" *ngFor="let attribute of data.attribute">
                            <label>{{ attribute.name }}</label>{{ attribute.idimages}}
                            <div class="keywords" *ngIf="attribute.data.length > 0">
                                <button type="button" class="btn attribute border bg-transparent px-3 py-1 mr-2 mb-2"
                                    (click)="processAttr._active(attribute,rows.id)"
                                    [ngClass]="{'attribute--active': attribute.active == rows.id}"
                                    [disabled]="!processAttr.lisActvie[rows.id]"
                                    *ngFor="let rows of attribute.data; let j = index">
                                    {{ rows.name }}
                                </button>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div>
                        <div *ngIf="+price > 0">
                            Đơn Giá: <span class="font-weight-bold">{{ (+price).toLocaleString('vi') +' đ'}}</span>
                        </div>
                        <div class="d-flex align-items-end">
                            <div class="mr-3">
                                {{'FEProductsDetail.amount' | translate}}:
                                <div class="group-input position-relative mt-2">
                                    <button (click)="cart.amount = (cart.amount <= 1) ? 1 : cart.amount - 1">-</button>
                                    <input type="number" min="1" readonly class="input pr-3" [(ngModel)]="cart.amount"
                                        (focusout)="cart.changeAmount()">
                                    <button class="position-absolute"
                                        (click)="cart.amount = (+cart.amount > 0) ? +cart.amount + 1 : 1">+</button>
                                </div>
                            </div>
                            <div class="group-button">
                                <button class="btn btn-addCart btn-sm flex-center " [disabled]="+price == 0"
                                    (click)="cart.addCart()">
                                    <i class="fas fa-cart-plus text-white mr-2"></i>
                                    <span class=" text-uppercase  font-weight-bold"> {{'FEProductsDetail.add' |
                                        translate}}</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-12">
                    <div class="position-sticky" style="top: 100px;">
                        <div class="card-header text-white mt-3 text-uppercase font-weight-bold border-0 text-center "
                            style="background-color: var(--color);">{{'lblSupport' | translate}}
                        </div>
                        <div class="card-body pl-2 pr-2 "
                            style="border: 1px solid var(--color); border-top: none !important;">
                            <div class=" d-flex align-items-center "
                                *ngIf="('FEPhone' | translate) != 'FEPhone' && ('FEPhone' | translate) != ''">
                                <div>
                                    <a class="text-white mr-1" href="tel:{{'FEPhone'|translate}}">
                                        <img class="mr-2" src="../../../../assets//img/phone-contact.png "
                                            [title]="globals.company.name" [alt]="globals.company.name" width="20"
                                            height="100%">
                                    </a>
                                </div>
                                <div style="font-size: 15px;">
                                    <a class=" ml-1 text-dark" href="tel:{{'FEPhone'|translate}}">
                                        {{'FEPhone'|translate}}
                                    </a>
                                </div>
                            </div>
                            <div class="mt-2 d-flex align-items-center">
                                <div>
                                    <img class="mr-2 " src="../../../assets/img/mail-contact.png " width="20"
                                        height="100%" [title]="globals.company.name" [alt]="globals.company.name">
                                </div>
                                <div style="font-size: 15px;">
                                    <a class="ml-1 text-dark" href="mailto:{{'FEMail'|translate}}">
                                        {{'FEMail' | translate}}
                                    </a>
                                </div>
                            </div>
                            <div class=" mt-2 d-flex">
                                <div style="height: fit-content;">
                                    <img class="mr-2 " src="../../../assets/img/address-contact.png " width="20"
                                        height="100%" [title]="globals.company.name" [alt]="globals.company.name">
                                </div>
                                <div style="font-size: 15px;">
                                    <a class="ml-1 text-dark">{{'FEAddress' | translate}}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row bg-white mt-4 py-4">
                <div class=" col-12">
                    <div class="title-border position-relative">
                        <div class="h3 mb-0 font-weight-bold text-uppercase d-inline-block">{{'FEProductsDetail.detail'
                            | translate}}
                        </div>
                    </div>
                    <div id="contentDetail" *ngIf="data.detail && data.detail.length> 0" class="text-justify py-4">
                        <div class="w-100 images" id="productDetail" [innerHTML]="data.detail | sanitizeHtml">
                        </div>
                    </div>
                    <div *ngIf="!data.detail || data.detail.length == 0" class=" pt-4 pb-4">
                        <div class="text-center pt-4 pb-4">
                            <div class="h4">{{'lblUpdating' | translate }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row bg-white mt-4">
                <div class="col-12">
                    <app-comment></app-comment>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-light pb-5" *ngIf="data.related?.length">
    <div class="container-main">
        <div class="px-1">
            <div class="title-border px-2 bg-white position-relative py-4">
                <div class="h3 mb-0 font-weight-bold text-uppercase d-inline-block">
                    {{'FEProductsDetail.productGroup' | translate}}
                </div>
            </div>
        </div>
        <div class="container-fluid pb-3">
            <div class="row">
                <div class="col-md-3 col-6 p-1" *ngFor="let item of data.related">
                    <app-box-product [title]="typeHeadingBox" [item]="item"></app-box-product>
                </div>
            </div>
        </div>
    </div>
</div>