.logo-header {
  height: 35px;
  margin: auto;
  max-width: 150px;
}

.app-header {
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 5px 21px -5px #cdd1e1;
}

.user:hover .dropdown-menu-user {
  display: block;
  position: absolute;
  top: 95%;
  right: 0;
}
.dropdown-menu-user .dropdown-item:hover {
  color: white !important;
  background-color: #3a464f !important;
  cursor: pointer;
}
