<div class="py-md-5 py-4 bg-light">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-page d-mflex-between-center">
                        <h1 class="color">{{ contact.data.name }}</h1>
                        <nav aria-label="breadcrumb" *ngIf="contact.data.name && contact.data.name.length > 0">
                            <ol class="breadcrumb bg-transparent border-0 m-0 p-0">
                                <li class="breadcrumb-item" aria-current="page">
                                    <a [routerLink]="['/']">
                                        {{ "lblHome" | translate }}
                                    </a>
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="contact.data.name && contact.data.name.length > 0">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 pt-4 pt-md-5">
                    <div class="title-contact mb-3">
                        <h4 class="br-text small d-flex align-items-center">
                            {{ "FEContact.support" | translate}}
                        </h4>
                    </div>
                    <h2 class="font-weight-bold" style="font-size: 20px">
                        {{ "FEContact.titleForm" | translate }}
                    </h2>
                    <form action="" [formGroup]="fm" *ngIf="fm">
                        <div class="form-group">
                            <label>{{ "FEContact.name" | translate }}</label>
                            <input type="text" autocomplete="off" class="form-control" name="name"
                                formControlName="name" />
                            <small style="color: red" *ngIf="fm.get('name').invalid && fm.get('name').touched">{{ "message.required" | translate }}</small>
                        </div>
                        <div class="d-md-flex">
                            <div class="form-group w-100 mr-3">
                                <label>{{ "FEContact.email" | translate }}</label>
                                <input type="email" autocomplete="off" class="form-control" name="email"
                                    formControlName="email" />
                                <small style="color: red" *ngIf="fm.get('email').invalid && fm.get('email').touched">{{
                                    "message.email"
                                    | translate }}</small>
                            </div>
                            <div class="form-group w-100">
                                <label>{{ "FEContact.phone" | translate }}</label>
                                <input type="text" autocomplete="off" class="form-control" name="phone"
                                    formControlName="phone" minlength="10" maxlength="11" />
                                <small style="color: red" *ngIf="fm.get('phone').invalid && fm.get('phone').touched">{{ "message.phone" | translate }}</small>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input cursor-pointer" type="radio" id="customer"
                                    formControlName="type" [value]="1" />
                                <label class="form-check-label ml-1 cursor-pointer" for="customer">
                                    {{ "FEContact.advisory" | translate }}
                                </label>
                            </div>
                            <div class="form-check form-check-inline ml-md-4">
                                <input class="form-check-input cursor-pointer" type="radio" id="agency"
                                    formControlName="type" [value]="0" />
                                <label class="form-check-label ml-1 cursor-pointer" for="agency">
                                    {{ "FEContact.agency" | translate }}
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>{{ "FEContact.subject" | translate }}</label>
                            <input type="text" autocomplete="off" class="form-control" name="subject"
                                formControlName="subject" />
                            <small style="color: red" *ngIf="fm.get('subject').invalid && fm.get('subject').touched">{{
                                "message.required" | translate }}</small>
                        </div>
                        <div class="form-group">
                            <label>{{ "FEContact.message" | translate }}</label>
                            <textarea type="text" autocomplete="off" name="message" rows="4" formControlName="message"
                                class="form-control h-4"></textarea>
                            <small style="color: red" *ngIf="fm.get('message').invalid && fm.get('message').touched">{{
                                "message.required" | translate }}</small>
                        </div>
                    </form>
                    <div class="text-right pt-3">
                        <button type="button" class="btn btn-contact animation-contact animated"
                            (click)="contact.addContact()">{{ "FEbtn.send" | translate }}
                            <i class="fas fa-paper-plane ml-1"></i>
                        </button>
                    </div>
                </div>
                <div class="col-md-6 pt-4 pt-md-5">
                    <h2 class="font-weight-bold mb-3" style="font-size: 20px">
                        {{ "FEContact.titleInfo" | translate }}
                    </h2>
                    <div class="mb-3"
                        *ngIf="('FECompanyName' | translate) != 'FECompanyName' &&('FECompanyName' | translate) != ''">
                        <h2 class="h4 font-weight-bold mb-0">{{ "FECompanyName" | translate }}
                        </h2>
                    </div>
                    <div class="mb-3"
                        *ngIf="('FEDescription' | translate) != 'FEDescription' &&('FEDescription' | translate) != ''">
                        {{ "FEDescription" | translate }}
                    </div>
                    <div class="mb-3"
                        *ngIf="('FEAddress' | translate) != 'FEAddress' && ('FEAddress' | translate) != ''">
                        <div class="font-weight-bold d-inline mr-3">
                            <i class="fas fa-map-marker-alt mr-1 color"></i>{{ "lblAddress" | translate }}:
                        </div>
                        <div>{{ "FEAddress" | translate }}
                        </div>
                    </div>
                    <div class="mb-3"
                        *ngIf="('FEAddress2' | translate) != 'FEAddress2' && ('FEAddress2' | translate) != ''">
                        <div class="font-weight-bold d-inline mr-3">
                            <i class="fas fa-map-marker-alt mr-1 color"></i>{{ "lblAddress2" | translate }}:
                        </div>
                        <div>{{ "FEAddress2" | translate }}
                        </div>
                    </div>
                    <div class="mb-3"
                        *ngIf="('FETaxCode' | translate) != 'FETaxCode' &&('FETaxCode' | translate) != ''">
                        <div class="font-weight-bold d-inline mr-3">
                            <i class="fas fa-building mr-1 color"></i>{{ "lblTaxCode" | translate
                            }}:
                        </div>
                        <div>{{ "FETaxCode" | translate }}
                        </div>
                    </div>
                    <div class="mb-3"
                        *ngIf="(('FEMail' | translate) != 'FEMail' && ('FEMail' | translate) != '') || (('FEMail_2' | translate) != 'FEMail_2' &&('FEMail_2' | translate) != '')">
                        <div class="font-weight-bold d-inline mr-3">
                            <i class="fas fa-envelope mr-1 color"></i>{{ "lblEmail" | translate
                            }}:
                        </div>
                        <a href="mailto:{{ 'FEMail' | translate }}" class="text-dark">{{ "FEMail" | translate }}
                        </a>
                        <span *ngIf="('FEMail2' | translate) != 'FEMail2' && ('FEMail2' | translate) != ''">
                            -
                        </span>
                        <a *ngIf="('FEMail2' | translate) != 'FEMail2' && ('FEMail2' | translate) != ''"
                            href="mailto:{{ 'FEMail2' | translate }}" class="text-dark">{{ "FEMail2" | translate }}
                        </a>
                    </div>
                    <div class="mb-3"
                        *ngIf=" (('FEPhone' | translate) != 'FEPhone' && ('FEPhone' | translate) != '') || (('FEPhone2' | translate) != 'FEPhone2' && ('FEPhone2' | translate) != '')">
                        <div class="font-weight-bold d-inline mr-3">
                            <i class="fas fa-phone color mr-1"></i>{{ "lblPhone" | translate }}:
                        </div>
                        <a href="tel:{{ 'FEPhone' | translate }}" class="text-dark">{{ "FEPhone" | translate }}
                        </a>
                        <span *ngIf="('FEPhone2' | translate) != 'FEPhone2' && ('FEPhone2' | translate) != ''">
                            -
                        </span>
                        <a *ngIf="('FEPhone2' | translate) != 'FEPhone2' &&('FEPhone2' | translate) != ''"
                            href="tel:{{ 'FEPhone2' | translate }}" class="text-dark">{{ "FEPhone2" | translate }}
                        </a>
                    </div>
                    <div *ngIf="('FEFax' | translate) != 'FEFax' && ('FEFax' | translate) != ''">
                        <div class="font-weight-bold d-inline mr-3">
                            <i class="fas fa-fax mr-1 color"></i>{{ "lblFax" | translate }}:
                        </div>
                        <a class="text-dark">{{ "FEFax" | translate }}
                        </a>
                    </div>

                </div>
            </div>
            <div class="d-flex map-contact py-5" [innerHTML]="'FEMap' | translate | sanitizeHtml"></div>
        </div>
    </div>
</div>