$w-sm: 425px;
$w-md: 768px;
$w-lg: 1024px;

@mixin viewport-xl {
  // min 1025
  @media (min-width: #{$w-lg + 1px}) {
    @content;
  }
}
@mixin viewport-lg {
  // max 1024
  @media (max-width: $w-lg) {
    @content;
  }
}
@mixin viewport-md {
  // max 768
  @media (max-width: $w-md) {
    @content;
  }
}
@mixin viewport-sm {
  // max 425
  @media (max-width: $w-sm) {
    @content;
  }
}

// text truncate
$lines: 2, 3;
@each $line in $lines {
  %text-truncate-#{$line} {
    -webkit-line-clamp: $line;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
