@import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import 'mixins';
@import 'animations';

@font-face {
  font-family: 'UTM__Avo';
  src: url(../assets/font/UTM__Avo.ttf) format('truetype');
  font-display: swap;
}
:root {
  --color: #007bff !important;
  --colorText: #525252;
  --scrollbar: 0.5rem;
}
.color {
  color: var(--color);
}
body {
  font-family: 'UTM__Avo', 'Open Sans', sans-serif !important;
  width: 100%;
  overflow-x: hidden;
}
.container-main {
  max-width: 1124px;
  margin: 0 auto;
}
img {
  object-fit: cover;
  vertical-align: top;
  transform: translateZ(0);
}
a,
a img {
  transition: 0.2s ease-out;
}
h1 {
  font-size: 21pt;
}
h2 {
  font-size: 16pt;
}
h3 {
  font-size: 14pt;
}
input,
textarea {
  font-size: 16px !important;
}
button[disabled] {
  border: 1px solid #cccccc !important;
  background-color: #cccccc !important;
  color: #8a8a8a !important;
}
.form-control:focus,
input:focus,
button:focus,
.btn:focus {
  outline: 0;
  box-shadow: none;
}
.overflow-hidden {
  overflow: hidden;
}
.scrollbar-hidden {
  @include viewport-xl {
    margin-right: var(--scrollbar);
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading {
  font-size: 1.5625rem;
  @include viewport-sm {
    font-size: 1.25rem;
  }
}

.cursor-pointer:hover {
  cursor: pointer;
}
.map-contact {
  border-radius: 20px;
  overflow: hidden;
}
.map-contact iframe {
  width: 100%;
}

#contentDetail {
  overflow: hidden !important;
}

.content-page img,
#contentDetail img,
#chips-detail img {
  max-width: 100% !important;
  height: auto !important;
}

.content-page iframe,
#contentDetail iframe,
#chips-detail iframe {
  max-width: 100% !important;
}

.fixed-action-btn {
  position: fixed;
  bottom: 65px;
  right: 24px;
  padding-top: 15px;
  margin-bottom: 0;
  z-index: 2;
}

.fixed-action-btn .getlistadd {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: red;
}

.asidebar {
  position: fixed;
  top: 50px;
  padding-top: 20px;
  z-index: 9;
  width: 200px;
  height: 100%;
  animation: 0.7s sidebar;
}

//all page
.title-page h1 {
  font-weight: 600;
  max-width: 50%;
  @include viewport-sm {
    max-width: 100% !important;
  }
}

.breadcrumb-item {
  @include viewport-sm {
    font-size: 12px !important;
  }
}
.breadcrumb-item a {
  color: #212529;
}

.breadcrumb .active,
.breadcrumb .active a {
  color: var(--color);
}

.breadcrumb-item a:hover {
  color: var(--color);
  text-decoration: none;
}

.breadcrumb-item + .breadcrumb-item::before {
  color: #c1c1c1;
}

//price product
.card-body .ng5-slider .ng5-slider-pointer {
  width: 15px;
  height: 15px;
  top: -6px;
  outline: none;
}

.card-body .ng5-slider .ng5-slider-pointer.ng5-slider-active::after {
  background-color: transparent !important;
}

.owl-carousel.owl-theme {
  height: 100%;
  position: relative;
  .owl-nav {
    margin-top: 0;
    width: 100%;
    position: absolute;
    top: 46%;
    transform: translateY(-50%);
    @include viewport-sm {
      display: none;
    }
    .owl-prev,
    .owl-next {
      margin: 0;
      padding: 0;
      background-color: transparent;
    }
    .owl-prev {
      float: left;
    }
    .owl-next {
      float: right;
    }
  }
  .owl-dots {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    span {
      margin: 0 6px;
      border: 1px solid #fff;
      border-radius: 50%;
    }
  }
}

.slide {
  .active &-description {
    animation: slideUp 0.67s ease-out;
  }
  .active &-title {
    animation: slideUp 1s ease-out;
  }
  .active &-btn {
    animation: slideDown 1.67s ease-out;
  }
  .owl-nav {
    .owl-prev,
    .owl-next {
      opacity: 0.2;
      margin: 0 4.6875rem !important;
    }
    .owl-prev:hover,
    .owl-next:hover {
      opacity: 1;
    }
  }
  .owl-dots {
    --dotSize: 1rem;
    right: 5%;
    bottom: 5% !important;
    @include viewport-sm {
      --dotSize: 0.7rem;
    }
    span {
      width: var(--dotSize) !important;
      height: var(--dotSize) !important;
      background-color: transparent !important;
      cursor: pointer;
      border-color: var(--color) !important;
      transition: 0.25s ease-out !important;
    }
    .active {
      cursor: default;
      > span {
        width: 0.625rem !important;
        height: 0.625rem !important;
        background-color: var(--color) !important;
        cursor: default;
      }
    }
  }
}

.category .owl {
  &-nav {
    top: 50% !important;
    @include viewport-sm {
      display: block !important;
    }
  }
  &-prev,
  &-next {
    width: 24px;
    height: 40px;
    display: flex !important;
    align-items: center;
    background-color: #0000000a !important;
    &.disabled {
      opacity: 0;
    }
  }
  &-prev {
    margin-left: -8px !important;
  }
  &-next {
    margin-right: -8px !important;
  }
}
.service .owl,
.news .owl {
  &-dots {
    left: 50%;
    transform: translateX(-50%);
    bottom: -24px !important;
  }
  &-dot {
    &.active > span {
      width: 1.375rem !important;
      background-color: var(--color) !important;
    }
    > span {
      margin: 0 0.25rem !important;
      width: 1rem !important;
      border-radius: 0.3125rem !important;
    }
  }
}

.search-modal {
  max-width: unset;
  height: 100vh !important;
  background-color: rgba(0, 0, 0, 0.67);

  .modal-content {
    width: 50% !important;
    @include viewport-lg {
      width: 60% !important;
    }

    @include viewport-md {
      width: 80% !important;
    }

    display: block;
    width: unset;
    border: none;
    border-radius: 0;
    background-color: unset;
  }
}

.evaluate .owl {
  &-dots {
    margin-top: 0 !important;
    bottom: -1rem !important;
    left: 50%;
    transform: translateX(-50%);
  }
  &-dot {
    &.active > span {
      width: 1.375rem !important;
      background-color: var(--color) !important;
    }

    > span {
      margin: 0 0.25rem !important;
      width: 1rem !important;
      border-radius: 0.3125rem !important;
    }
  }
}

.partner {
  .owl-nav {
    .owl-prev {
      opacity: 0.4;
      margin-left: -40px !important;
    }
    .owl-next {
      opacity: 0.4;
      margin-right: -40px !important;
    }
    .owl-prev:hover,
    .owl-next:hover {
      opacity: 1;
    }
  }
  .owl-item img {
    width: unset !important;
    height: 100% !important;
    object-fit: cover;
  }
}
.listImages {
  .owl-nav {
    margin-top: 0 !important;
    width: unset !important;
    position: unset !important;
    top: unset !important;
    transform: unset !important;
    > [class^='owl-'] {
      position: absolute;
      top: 50%;
      float: unset !important;
    }
    .owl-prev {
      left: 0;
    }
    .owl-next {
      right: 0;
    }
  }
}

.img-list__options {
  .owl-stage {
    display: flex;
  }
  .owl-item {
    width: unset !important;
  }
}
