<form [formGroup]="fm" *ngIf="fm" (submit)='$event.stopPropagation()'>
    <div class="card w-100">
        <div class="card-header">
            <strong>{{ ((id && id !=0)?'customer.update':'customer.add') | translate : {name : fm.value.name}
                }}</strong>
        </div>
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label for="name">{{ 'lblName' | translate }}
                                <span class="ml-2 text-danger">*</span>
                            </label>
                            <input type="text" class="form-control" name="name" formControlName="name" id="name"
                                autocomplete="off" required>
                            <small *ngIf="!fm.get('name').valid && fm.get('name').touched"
                                style="color:red">{{'message.required' | translate}}</small>
                        </div>

                        <div class="row">
                            <div class="col-md-4 col-12 pr-md-0">
                                <div class="form-group">
                                    <label for="birth_date">{{ 'user.birth_date' | translate }}</label>
                                    <input type="text" [maxDate]="maxDate"
                                        [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }" name="birth_date"
                                        placeholder="Datepicker" class="form-control" id="birth_date"
                                        formControlName="birth_date" bsDatepicker>
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="form-group">
                                    <label for="phone">{{ 'lblPhone' | translate }}
                                    </label>
                                    <input type="text" class="form-control" name="phone" formControlName="phone"
                                        id="phone" autocomplete="off">
                                    <small *ngIf="!fm.get('phone').valid && fm.get('phone').touched"
                                        style="color:red">{{'message.phone' | translate}}</small>
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="form-group">
                                    <div>
                                        <label>{{ 'sex.title' | translate }}</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="male" name="sex" class="custom-control-input"
                                            formControlName="sex" [value]="1">
                                        <label class="custom-control-label" for="male">
                                            {{'user.male' | translate }}</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="female" name="sex" class="custom-control-input"
                                            formControlName="sex" [value]="0">
                                        <label class="custom-control-label" for="female">
                                            {{'user.female' | translate }}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="row">
                            <div class="col-md-6 col-12 pr-md-0">
                                <div class="form-group">
                                    <label for="email">{{ 'lblEmail' | translate }}
                                        <span class="text-danger pl-2">*</span>
                                    </label>
                                    <input type="email" class="form-control" name="email" formControlName="email"
                                        autocomplete="off" id="email" required>
                                    <small *ngIf="!fm.get('email').valid && fm.get('email').touched"
                                        style="color:red">{{'message.email' | translate}}</small>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="form-group" *ngIf="(!id && id !=0)">
                                    <label for="password">{{ 'user.password' | translate }}
                                        <span class="text-danger pl-2">*</span>
                                    </label>
                                    <input type="password" class="form-control" name="password"
                                        formControlName="password" autocomplete="off" id="password"
                                        placeholder="{{ 'user.password' | translate }}">
                                    <small *ngIf="!fm.get('password').valid && fm.get('password').touched"
                                        style="color:red">{{'message.minLength' | translate : { num: 8 } }}</small>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="address">{{ 'user.address' | translate }}</label>
                            <input type="text" class="form-control" name="address" formControlName="address"
                                id="address" autocomplete="off">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="float-left">
                <label class="lable-switch pull-left">
                    <div class="switch">
                        <input checked="checked" formControlName="status" type="checkbox" name="status">
                        <span class="lever"></span>
                    </div>
                    <span ng-bind="lang.lbl_status_on" class="ng-binding">{{ (fm.value.status == 1 ? 'status.on' :
                        'status.off') | translate }}</span>
                </label>
            </div>
            <button type="button" (click)="onSubmit()" [disabled]="!fm.valid" class="btn btn-success float-right">
                {{'btn.save' | translate}}
            </button>
            <button type="button" [routerLink]="[(id && id !=0)?'../../get-list':'../get-list']"
                class="btn btn-primary float-right mr-2">{{'btn.back'| translate }}</button>
        </div>
    </div>
</form>