.list-document {
    height: 245px;
    overflow: auto;
}

.list-document .item {
    padding: 10px 25px 10px 10px;
    position: relative;
    cursor: pointer;
    margin-bottom: 5px;
}

.list-document .item:hover {
    border-color: #007bff !important;
}

.list-document .item:hover i {
    right: 10px;
    opacity: 1;
}

.active-item {
    border: 1px solid #d1e7ff;
    border-left: 4px solid #007bff;
    background: #007bff2e;
}
.container-search {
    max-height: 250px;
    overflow: auto;
    overflow-x: hidden;
}

.icon-remove {
    right: 10px;
    top: 10px;
}
