<div class="p-2 bg-white box-product">
    <div class="images px-3">
        <!-- nav-link -->
        <a [routerLink]="['/' + item.parent_link + '/' + item.link]" href=":;javascript">
            <img width="100%" height="100%" [src]="item.images" [alt]="item.name" />
        </a>
    </div>
    <div class="px-0 px-md-2 mt-2">
        <a class="name text-body p-0 mb-1" [routerLink]="[ '/' + item.parent_link + '/' + item.link ]"
            style="text-decoration: none" href=":;javascript">
            <h3 *ngIf="typeHeadingBox === 0; else elseTitleBox">{{ item.name }}</h3>
            <ng-template #elseTitleBox>
                <h2>{{ item.name }}</h2>
            </ng-template>
        </a>
        <span class="small text-muted">{{ item.views }} {{ 'FEbtn.view' | translate }}</span>
        <div class="price">
            <span class="text-danger font-weight-bold" *ngIf="!item.price || +item.price == 0">
                {{ 'lblContact' | translate }}
            </span>
            <div class="text-danger font-weight-bold price-sale" *ngIf="item.price && +item.price > 0">
                {{ (+item.price_sale > 0) ? ((+item.price_sale).toLocaleString('vi') ) :
                ((+item.price).toLocaleString('vi') ) }} ₫
            </div>
            <div class="d-flex align-items-center" *ngIf="item.price_sale && +item.price_sale > 0">
                <span class="badge bg-danger font-weight-normal p-1 text-white mr-1 mr-md-2">
                    {{ 'lblReduction' | translate }} {{ item.percent }}%
                </span>
                <span class="price-default text-muted">
                    {{ formatPrice(+item.price) }} đ
                </span>
            </div>
        </div>
    </div>
</div>