@import 'src/style/mixins';
.box-product {
  &:hover {
    .name {
      color: var(--color) !important;
    }
    img {
      transform: scale(1.5);
    }
  }
  .name {
    @extend %text-truncate-2;
    height: 38px;
    line-height: 1.2;
    h2,
    h3 {
      font-size: 1rem !important;
    }
  }
}

.price {
  height: 3.25rem;

  &-sale {
    font-size: 1.125rem;
  }
  &-default {
    text-decoration: line-through;
    font-size: 0.875rem;
    @include viewport-sm {
      font-size: calc(0.875rem - 1px);
    }
  }
}
.images {
  // min-height: 207px;
  // max-height: 100%;
  height: 207px;
  overflow: hidden;
  display: flex;
  align-items: center;
  // width: 100%;
  // position: relative;

  @include viewport-sm {
    // min-height: 189px;
    height: 189px;
  }

  a {
    display: block;
    // margin: 0 auto;
    // width: 100%;
  }

  img {
    object-fit: cover;
    transition: filter 0.6s, opacity 0.6s, transform 0.6s, box-shadow 0.3s,
      -webkit-filter 0.6s, -webkit-transform 0.6s, -webkit-box-shadow 0.3s;
  }
}
