<div *ngIf="+pageView == 1">
    <div class="py-md-5 py-4 bg-light">
        <div class="container-main">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title-page d-mflex-between-center">
                            <h1 class="color">{{ data.name }}</h1>
                            <nav aria-label="breadcrumb" *ngIf="data.name && data.name.length > 0">
                                <ol class="breadcrumb bg-transparent border-0 m-0 p-0">
                                    <li class="breadcrumb-item" aria-current="page">
                                        <a [routerLink]="['/']">
                                            {{ "lblHome" | translate }}
                                        </a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">
                                        <a [routerLink]="['/' + data.parent_link]" *ngIf="data.parent_link != null">
                                            {{ data.parent_name ? data.parent_name : data.name }}
                                        </a>
                                        <span *ngIf="data.parent_link == null">
                                            {{ data.parent_name ? data.parent_name : data.name }}
                                        </span>
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="+data.type == 2">
        <div class="py-4 py-md-5">
            <div class="container-main">
                <div class="container-fluid">
                    <div class="overflow-hidden" *ngIf="data.detail && data.detail.length > 0">
                        <div class="page-detail" id="contentDetail" [innerHTML]="data.detail | sanitizeHtml">
                        </div>
                    </div>
                    <div class="w-100 text-center" *ngIf="!data.detail || data.detail.length == 0">
                        <h3 class="h5">{{'lblUpdating' | translate}} </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="+data.type == 3">
        <app-product-list [link]="data.link"></app-product-list>
    </div>
    <div *ngIf="+data.type == 4">
        <app-content-list [link]="data.link"></app-content-list>
    </div>
    <div *ngIf="+data.type == 6">
        <div class="container-main py-4 py-md-5">
            <div class="container-fluid">
                <div *ngIf="!data.service || data.service.length == 0">
                    <div class="page-detail" id="contentDetail" [innerHTML]="data.detail | sanitizeHtml">
                    </div>
                </div>
                <div class="row px-2 px-md-0" *ngIf="data.service && data.service.length >0">
                    <div class="col-md-4 mb-4" *ngFor="let item of data.service; index as i">
                        <app-box-service [item]="item"></app-box-service>
                    </div>
                    <div class="col-12">
                        <div class="w-100" *ngIf="pagination.total > pagination.itemsPerPage">
                            <pagination class="d-flex justify-content-center my-3" [totalItems]="Pagination.total"
                                previousText="{{ 'FEFEbtn.previousious' | translate  }}"
                                nextText="{{ 'FEFEbtn.next' | translate  }}" [itemsPerPage]="Pagination.itemsPerPage"
                                [maxSize]="Pagination.maxSize" (pageChanged)="Pagination.changed($event)">
                            </pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="+pageView == 0">
    <app-detail-product></app-detail-product>
</div>