<div class="py-md-5 py-4 bg-light">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="title-page d-mflex-between-center">
                        <h1 class="color">{{ data.name }}</h1>
                        <nav aria-label="breadcrumb" *ngIf="data.name?.length">
                            <ol class="breadcrumb bg-transparent border-0 m-0 p-0">
                                <li class="breadcrumb-item" aria-current="page">
                                    <a [routerLink]="['/']">
                                        {{ 'lblHome' | translate }}
                                    </a>
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="bg-white pt-4 pt-md-5">
    <div class="container-main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="p-md-4 p-3" style="background-color: #f2f3f7;">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group w-100">
                                    <label>{{'FEDocument.group' | translate}}</label>
                                    <select [(ngModel)]="search.group_id" class="form-control">
                                        <option value="0">{{ 'FEDocument.choose' | translate }}</option>
                                        <!-- <optgroup *ngFor="let item of search.group" [label]="item.name"> -->
                                        <option *ngFor="let item of search.group" [value]="item.id">
                                            {{ item.name }}
                                        </option>
                                        <!-- </optgroup> -->
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group w-100">
                                    <label>{{'FEDocument.agencies' | translate}}</label>
                                    <select [(ngModel)]="search.agencies_id" class="form-control">
                                        <option value="0">{{'FEDocument.choose' | translate}}</option>
                                        <option *ngFor="let item of search.agencies" [value]="item.id">
                                            {{item.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group w-100">
                                    <label>{{'FEDocument.field' | translate}}</label>
                                    <select [(ngModel)]="search.field_id" class="form-control">
                                        <option value="0">{{'FEDocument.choose' | translate}}</option>
                                        <option *ngFor="let item of search.field" [value]="item.id">
                                            {{item.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group w-100">
                                    <label>{{'FEDocument.type' | translate}}</label>
                                    <select [(ngModel)]="search.type_id" class="form-control">
                                        <option value="0">{{'FEDocument.choose' | translate}}</option>
                                        <option *ngFor="let item of search.type" [value]="item.id">
                                            {{item.name}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="w-100">
                                    <label>{{'FEDocument.search' | translate}}</label>
                                    <input type="text" id="search" (keyup.enter)="search.onSearch();" autofocus
                                        [(ngModel)]="search.value" autocomplete="off"
                                        class="form-control input-search w-100"
                                        placeholder="{{'FEDocument.txtSearch'|translate}}">
                                </div>
                            </div>
                            <div class="col-md-6 align-items-end d-flex pt-3 pt-md-0">
                                <div class=" w-100">
                                    <button class="btn btn-search  text-uppercase w-100 text-white font-weight-bold"
                                        (click)="search.onSearch();">
                                        Tìm kiếm
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-4">
                        <div class="col-md-12">
                            <table class="table table-hover table-bordered">
                                <thead>
                                    <tr style="background: #809dc3;">
                                        <th *ngFor="let col of search.cols" class="text-white"
                                            style="white-space: pre;">
                                            <div>{{col.title | translate }}</div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of document.data; let i = index">
                                        <td *ngFor="let col of search.cols">
                                            <span [(ngSwitch)]="col.field">
                                                <div *ngSwitchCase="'index'">
                                                    {{i+1}}
                                                </div>
                                                <div *ngSwitchCase="'document'">
                                                    <div class="document mb-1">{{item.name}}</div>
                                                    <div class="color-50 d-md-flex mb-1">
                                                        <div class="mr-4"><i class="fas fa-book mr-1"></i>
                                                            {{ 'FEDocument.code' | translate }}:
                                                            <span class="font-weight-bold">
                                                                {{item.code}}
                                                            </span>
                                                        </div>
                                                        <div>
                                                            <i class="far fa-calendar mr-1"></i>
                                                            {{ 'FEDocument.startDate' | translate }}:
                                                            {{item.start_date | date: 'dd/MM/yyyy'}}
                                                        </div>
                                                    </div>
                                                    <div class="color-50">
                                                        <i class="far fa-calendar mr-1"></i>
                                                        {{ 'FEDocument.endDate' | translate }}:
                                                        {{search.compareDate(item.end_date)}}
                                                    </div>
                                                </div>
                                                <div *ngSwitchCase="'download'" class="text-center">
                                                    <button class="btn btn-link btn-sm">
                                                        <a [href]="item.file" download>
                                                            <i class="fas fa-download" style="font-size: 20px;"></i>
                                                        </a>
                                                    </button>
                                                </div>
                                                <div *ngSwitchCase="'view'" class="text-center">
                                                    <button class="btn btn-link btn-sm">
                                                        <a [href]="item.file" target="_blank">
                                                            <i class="fas fa-arrow-circle-right"
                                                                style="font-size: 20px;"></i>
                                                        </a>
                                                    </button>
                                                </div>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                                <tr *ngIf="show == 0">
                                    <td colspan="4" class="text-center text-danger">{{'FEDocument.empty' | translate}}
                                    </td>
                                </tr>
                            </table>
                            <div *ngIf="document.cached.length > Pagination.itemsPerPage">
                                <pagination class="d-flex justify-content-end mt-4"
                                    [previousText]="'FEbtn.previous' | translate" [nextText]="'FEbtn.next' | translate"
                                    [totalItems]="document.cached.length" [itemsPerPage]="Pagination.itemsPerPage"
                                    [maxSize]="Pagination.maxSize" (pageChanged)="Pagination.change($event)"
                                    [rotate]="false">
                                </pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>